[2015-06-19 00:34] shadowcat-mst commented on #942
@strand if I could get any sort of specific criticism of the text I've proposed I'd be happy to. As is, I think maybe a fresh issue proposing it as is might be a start, and I'd be happy to try and contribute to that

[2015-06-19 00:35] shadowcat-mst commented on #942
@utterbull so propose language to specifically document that a personal account that doesn't mention the project is out of the code's scope. A concrete proposal is what we need to move forwards.

[2015-06-19 00:36] meltheadorable commented on #942
@shadowcat-mst I, for one, am not interested in a code of conduct which would allow the core project maintainers to spam discriminatory, harassing and bigoted content on their twitter accounts without having their standing as a community organizer and core maintainer being put at risk.

There is *no possible way* to have an apolitical code of conduct. Even choosing to put discrimination or harassm

[2015-06-19 00:40] t0x0 commented on #942
@shadowcat-mst I think the once removed rule is fair to all parties, and still protects other contributors and the project's reputation.

[2015-06-19 00:43] utterbull commented on #942
@shadowcat-mst
It's easier (both for the writer and the reader) to list the situations in which a potential CoC does apply rather than those where it does not. For example.

CoC applies while doing work on Opal or representing (speaking on behalf of) Opal.

[2015-06-19 00:46] orionblastar commented on #942
@shadowcat-mst It seems there are social justice warriors here who want to promote the liberal point of view and punish people for not making Politically Correct statements on social networks. The whole thing happened over a bad tweet that was unpopular with the SJWs that lead to the issue that he be removed. They will interpret anything as Non-PC to get rid of almost any contributor here. I fear

[2015-06-19 00:47] t0x0 commented on #942
Proposal for "preppendix" to Community Policies:

These policies apply to any activity directly related to the project, and to any personal activity where you are identified as associated with the project, for instance tweets or forums posts from an account where you are identified as a project owner. It does not apply to personal activity that is divorced from the project, even if you are identif

[2015-06-19 00:47] shadowcat-mst commented on #942
@meltheadorable the perfect is the enemy of the good; since we'll clearly never all agree on perfect I'd much rather agree on good and make the world at least that much a better place.

I want tomorrow to be better than yesterday, and I won't reject a better possible tomorrow that isn't as good as I might hope the long term future will be. That's what this thread was created for. If you aren't int

[2015-06-19 00:50] orionblastar commented on #942
@shadowcat-mst Nobody is perfect, we are all flawed in some way, and perfect people are just people who learned how to hide their flaws. In order to be good, we need to develop a code of ethics that everyone can agree upon.

[2015-06-19 00:53] utterbull commented on #942
@t0x0
I disagree with the "where you are identified as associated with the project" portion. The CoC should be strictly limited in scope to activity for or on behalf of Opal.

[2015-06-19 00:58] meltheadorable commented on #942
@shadowcat-mst A code of conduct that doesn't even apply to the situation that started the call for one isn't even "good", let alone perfect.

[2015-06-19 01:05] shadowcat-mst commented on #942
I've specifically said, repeatedly, that his twitter feed's public association with the project means it would apply until that's changed. I'm unsure why you insist on ignoring it at the same time as the "oh noes free speech" people insist on ignoring my saying that once that is changed it shouldn't be considered related @meltheadorable @utterbull

I continue to want tomorrow to be better than yes

[2015-06-19 01:06] shadowcat-mst commented on #942
@strand @t0x0 that phrasing seems reasonable to me and given we're re-adapting an IRC network policy to a github project policy I would be entirely in support of such a prepension.

[2015-06-19 01:10] t0x0 commented on #942
Just had a thought, where would a "tweets are my own" type disclaimer fit into the policy? Does it have an impact?

[2015-06-19 01:10] shadowcat-mst commented on #942
@orionblastar which is why I regard any principled solution to allow everybody's stupid tweets to be ignored, just just one side's

[2015-06-19 01:11] shadowcat-mst commented on #942
@t0x0 I'm looking at how people will read things, rather than how we'd like people to read things; that means 'lack of link' will work but 'disclaimer' won't, even though I wish we lived in the world where the latter was sufficient

[2015-06-19 01:13] t0x0 commented on #942
@utterbull that's the real question - when you are posting and your identifier is "core contributor to xyz" it seems fair to assume that your statements are associated with or shared by xyz.

@shadowcat-mst Hmm. OK, there's room for debate but I'm not sure there's a clear right answer. Personally I disagree, but I see your point. Probably a decision that needs to be made by the org adopting the Co

[2015-06-19 01:17] shadowcat-mst commented on #942
@t0x0 I agree in theory, but disagree in practice; I'm trying to find real world solutions that actually work. But yes, the org's choice how to work it, I'm just presenting suggestions that have worked as "tomorrow is better than yesterday" for me and my communities in the past.

[2015-06-19 01:20] t0x0 commented on #942
@shadowcat-mst Fair enough. Do you need any more specific input, or do you have enough to polish the CoC template you're building from? The prepended text I suggested solves most of my concerns...which are fairly irrelevant anyway since I'm not a contributor to the project. *shrug*

[2015-06-19 01:21] hausdorff commented on #942
It's worth pointing out that there has been a big push to incorporate codes of conduct into programmer spaces (especially conferences), and for the most part, the process is the same. First people complain about their "freedom" being restricted. Then a code of conduct is adopted. Then the complaints quietly dissolve and all the supposed dangers turn out to be basically imaginary.

Instead of talki

[2015-06-19 01:21] strand commented on #942
@shadowcat-mst I haven't had time to read all the comments and didn't see a pull request in the thread. Do you have a commit with a first draft code of conduct? Would you reference your PR in the thread?

I'm too emotionally overwhelmed to respond to any concerns for at least the next few days. Did y'all hear there was a terrorist attack on a church in Charleston that killed nine?

[2015-06-19 01:22] shadowcat-mst commented on #942
@hausdorff if you have a specific suggestion as to the code I've proposed, please make it; otherwise, please try not to add to the unconstructive parts of the argument

[2015-06-19 01:25] utterbull commented on #942
@t0x0
I don't see anything on EliaSchito(͡° ͜ʖ ͡°)'s twitter profile to indicate that everything he says is reflective of Opal (nor reflective of his wife, his kids, Catholics, unborn rights activists, Milanese, Italians, etc.).

[2015-06-19 01:26] shadowcat-mst commented on #942
@strand synthesising mine and others -

==start

Community Policies

Reasonable person principle applies.

Everyone will be reasonable.
Everyone expects everyone else to be reasonable.
No one is special.
Do not be offended if someone suggests you are not being reasonable.
Additionally, please take note of the following:

Be considerate, respectful, and collaborative.
Alert the staff if you notice

[2015-06-19 01:26] meltheadorable commented on #942
@shadowcat-mst I still think you're ignoring that there is a difference between a contributor who submits an issue or a PR, and the core maintainers of the project. This is a reaction to a *serious* bout of misconduct from a core maintainer on a medium in which he has inextricably tied his identity to the project. (And, subsequently, some *extremely* poor and hostile behavior from another of the c

[2015-06-19 01:28] shadowcat-mst commented on #942
@meltheadorable I am ignoring nothing, and pretending I am just because I don't agree with you isn't actually helpful. I just want to reach consensus rather than watching people yell past each other and nothing happening at all. On the other hand, if you have specific, constructive, suggestions for changes, please propose them.

[2015-06-19 01:28] hausdorff commented on #942
@shadowcat-mst My specific suggestion is that people who promote transphobic views publicly should be ejected as community members. I think that's a pretty low bar. You probably want to add things like "no racist stuff" either.

[2015-06-19 01:30] meltheadorable commented on #942
@shadowcat-mst I already made a specific, constructive suggestion: use the language from Thoughtbot's, Bundler's, or the Contributor Covenant's code of conduct as a base and not the language from Perl's IRC guidelines.

[2015-06-19 01:31] shadowcat-mst commented on #942
@meltheadorable "replace everything with this other thing" is not specific, any more than "replace your windows install with linux" is specific. An explanation of which specific clauses you believe should be added is specific, and I'd be happy to hear you provide one.

[2015-06-19 01:32] shadowcat-mst commented on #942
@hausdorff and somebody else suggested that people who start twitter wars should be ejected. I don't think "eject anybody who says something some people don't like on twitter" is going to be a good answer for anybody, even if I happen to think that transphobes and war-starters are both abhorrent, albeit for completely different reasons.

[2015-06-19 01:33] utterbull commented on #942
@shadowcat-mst
[specific proposal]
Delete everything except the Reasonable person principle.
[/specific proposal]
Alternatively, we could just simply choose not to adopt a CoC at all.

[2015-06-19 01:33] t0x0 commented on #942
@meltheadorable Actually, Thoughtbot & Bundler's CoC seems pretty clear that it addresses behavior related to the project only.

[2015-06-19 01:35] hausdorff commented on #942
@shadowcat-mst The suggestion isn't "anyone who says something some people don't like on twitter." The suggestion is, specifically, if you say something grossly transphobic, racist, whateverist, you're out.

I'm not sympathetic to the slippery slope argument here, that no one will know what to say and everyone will always be in danger. Many communities enforce this type of code, and if they can do

[2015-06-19 01:36] shadowcat-mst commented on #942
@utterbull please read http://shadow.cat/blog/matt-s-trout/on-codifying-conduct/ to understand why I don't believe that's sufficient. This is now the third time I've linked it - if you have specific objections please raise them.

[2015-06-19 01:37] t0x0 commented on #942
@hausdorff So, "If you say something that enough people are offended by, you're out". Does that include atheist comments? Islamic? Anti-gun? Creationist? Pro-abortion? Pro-LGBT? Anti-hetero? The answer to all should be no.

It's not sustainable without a serious chilling effect.

[2015-06-19 01:38] meltheadorable commented on #942
@t0x0 It's somewhat ambiguous whether the line saying that project maintainers are subject to the code of conduct applies to twitter accounts where they are openly spewing bigoted bullshit, but thoughtbot and bundler would never have put somebody who would in charge of the project in the first place, so it's somewhat tangential to the point.

Even if they don't, those codes of conduct already addr

[2015-06-19 01:39] shadowcat-mst commented on #942
@hausdorff @t0x0 this exact argument degenerates easily because it's really about how much you don't like it. Some conservative christians really don't like my being a bi poly slut. I think they're allowed to dislike me and still contribute.

[2015-06-19 01:39] shadowcat-mst commented on #942
@meltheadorable Please explain in concrete terms what your problems are; repeating "I have problems" without explanation isn't actually any more constructive than the pastatroll upthread.

[2015-06-19 01:41] utterbull commented on #942
@meltheadorable @t0x0
"We expect everyone to follow these rules anywhere in thoughtbot's project codebases, issue trackers, chatrooms, and mailing lists." -Thoughtbot CoC
This is exactly the sort of limited scope I've been talking about.

@shadowcat-mst
I've read your link. I've posted specific objections.
"...and to any personal activity where you are identified as associated with the project, fo

[2015-06-19 01:42] shadowcat-mst commented on #942
@utterbull that was a line from @t0x0 who you complete ignored. Maybe try engaging with the person you disagree with; I re-used it because nobody else complained.

[2015-06-19 01:42] shadowcat-mst commented on #942
@utterbull please propose an actual alternative wording and let's see what @t0x0 thinks of it

[2015-06-19 01:44] hausdorff commented on #942
@t0x0 I didn't say that if enough people are offended, you should have a rule that ejects them. I said that we should specifically disallow people with flagrantly transphobic views from being in the community. My point is not that we should acquiesce to people who are offended, my point is that you're building a community, and you choose which behaviors to disallow based on who you want to be in t

[2015-06-19 01:45] t0x0 commented on #942
@utterbull that's lacking any substantive changes re: the current situation. Is that your stance, that none is needed?

[2015-06-19 01:48] utterbull commented on #942
@shadowcat-mst
Sorry, I find trying to find who's-quoting-what-from-who on Github Issues to be confusing.

@t0x0
Here is my stance:
Opal is fine as is (IMHO).

However, given that many people are advocating for a CoC, I argue that if we do, it should have a narrow scope, for example, the Thoughtbot CoC.

[2015-06-19 01:49] t0x0 commented on #942
@hausdorff <devils advocate> I propose trans folks be on the list. See the problem now?

[2015-06-19 01:49] orionblastar commented on #942
@utterbull so you say have a narrow or limited scope that doesn't include external sites like social networking sites like Twitter but include the mailing list, issue tracker, code submit comments, documentation, etc.

[2015-06-19 01:51] t0x0 commented on #942
Dammit, gh stripped my devils advocate tag

[2015-06-19 01:51] shadowcat-mst commented on #942
@hausdorff If you were asking me for such a list, I'd probably want both Shanley Kane and Paul Elam and anybody who took either of those asshole trolls seriously on it.

But I'd rather let people write code if they can keep their political opinions away from the code.

"Let's exclude group X because all right thinking people hate group X" has been used on communists, on feminists, on anti-racist a

[2015-06-19 01:51] utterbull commented on #942
@orionblastar
Yes.

[2015-06-19 01:52] orionblastar commented on #942
@t0x0 That is my original argument, who decides who is an unreasonable person and what types of people to ban? Banning transphobes is the same as banning transgendered people. If we do that we are making the CoC a liberal social agenda biased set of rules. It needs to be neutral.

[2015-06-19 01:54] shadowcat-mst commented on #942
@orionblastar please respond to specific parts of my proposal if you believe that to be the case.

[2015-06-19 01:54] meltheadorable commented on #942
@shadowcat-mst I DID -- some of the language is specific to IRC and less than useful for a code of conduct for an open source project and community more generally, I find the language about "reasonableness" to be obfuscatory and too easy to try to rules lawyer around, and I think the framing sometimes comes across as needlessly hostile. I've thrown together the code of conduct I'd support below, b

[2015-06-19 01:55] scatpost commented on #942
I would just like to point out the hypocrisy of CoralineAda and her ilk to legitimate code of conduct reports on there own project.  They close and lock them with out comment.  But here in someone else's home they drone on and on extending hyperbole after hyperbole all because someone publicly demonstrated adherence to beliefs they do not appreciate.  There behavior indicates a culture of bullying

[2015-06-19 01:55] shadowcat-mst commented on #942
@meltheadorable "I find the language about "reasonableness" to be obfuscatory and too easy to try to rules lawyer around, and I think the framing sometimes comes across as needlessly hostile." is the oppposite of specific, from my point of view.

[2015-06-19 01:56] shadowcat-mst commented on #942
@scatpost 941 would be for this sort of comment; this thread is specifically for the purpose of thrashing out consensus about a code of conduct

[2015-06-19 01:56] t0x0 commented on #942
@orionblastar Agreed. Hence the "keep it separate from the project and we won't say anything, regardless of content"

@utterbull I get it, but that doesn't resolve the feeling of folks that they're being excluded by statements made by people associated with the project. This way you can do what you like, just divorce personal from the organization.

[2015-06-19 02:00] meltheadorable commented on #942
@shadowcat-mst I've already submitted a proposed code of conduct. Please address specific concerns with my proposal or changes to the wording as you see fit.

Or don't, and we can discuss why changing the base text might be a good idea in slightly more general terms, because one person need not necessarily get to frame the entire discussion around specifically editing the wording of their pet prop

[2015-06-19 02:00] orionblastar commented on #942
@shadowcat-mst Yes people will try and rule lawyer around it. From what I am reading some people want transphone people banned already based on the original issue that was closed. They already have a list of people ready to ban based on Twitter comments, etc. Yet I am reading that the score should be limited or narrow to just Github and ignore external websites. People are still going to point out

[2015-06-19 02:01] shadowcat-mst commented on #942
@meltheadorable mine was the first to be suggested seriously rather than as a trolling attempt.

I'm still waiting for anything usefully specific from you.

Why is this better?

[2015-06-19 02:02] shadowcat-mst commented on #942
@orionblastar a significant part of this conversation has been about specifically allowing the CoC to represent the project itself but not external personal speech. Please re-read the proposals therein, especially my full length one.

[2015-06-19 02:03] meltheadorable commented on #942
@shadowcat-mst The thoughtbot code of conduct was linked to _in the original issue post_ and the Contributor Covenant was mentioned shortly thereafter. If you really want to play the "who got here first" game we should be modifying one of those codes of conduct.

[2015-06-19 02:05] orionblastar commented on #942
@shadowcat-mst there are at least three different Coc posted here. I am not sure which one we are talking about now. @meltheadorable has one code of conduct, you have one, and I think there is another one as well. Which one gets chosen and how will it be modified.

[2015-06-19 02:05] mrseth commented on #942
Codes of conduct are bullshit. Linux never had one and became the greatest FOSS of all times. You are just giving tools for extremists to silence people they do not like.

[2015-06-19 02:06] shadowcat-mst commented on #942
@meltheadorable I'm happy to discuss how one might incorporate elements of both if you'll actually point out a problem with the one I suggested - but "you are bad, use mine" isn't convincing unless you describe what's actually wrong, as I've asked repeatedly.

[2015-06-19 02:07] shadowcat-mst commented on #942
@mrseth the linux kernel has adopted a code of conflict; you'll find it doesn't substantially disagree with the conduct rules I've proposed. Please read the thread.

[2015-06-19 02:07] orionblastar commented on #942
@mrseth Linus uses strong language when someone submits a buggy patch to the Linux kernel. I think this is Finnish culture to do that. He got a lot of backlash for that when he cussed out a female programmer for a buggy patch that caused a kernel panic.

[2015-06-19 02:08] mrseth commented on #942
@orionblastar I stand by my point. Greatest FOSS ever.

[2015-06-19 02:08] scatpost commented on #942
@shadowcat-mst Noted I deleted the post and attempted to move it to #941 however that issue was locked with a directive that anyone wishing to expand on the topic was to post it in #942, so I am reposting here.  I apologist if it is not the optimum setting but I still feel its retentive.

===Original post===

I would just like to point out the hypocrisy of CoralineAda and her ilk to legitimate cod

[2015-06-19 02:09] mrseth commented on #942
@shadowcat-mst except this project is really small in comparison, it does not need this useless overhead in any shape or form. Opal got where it got without any of this and doesn't need it now.

[2015-06-19 02:12] Tamschi commented on #942
@meltheadorable It's very possible to make an apolitical code of conduct: It just means the code has to be applied the same regardless of the views involved, judging only the *behaviour* displayed (which is what I would expect a code of *conduct* to do). Of course this would also include not discriminating/attacking people solely for their conservative views if they came up in a manner that is nei

[2015-06-19 02:14] HandsomeMatt commented on #942
this is stupid, you don't need a fucking code of conduct it's an open source project

fuck off sjws

[2015-06-19 02:15] bbielsa commented on #942
I just called in a 4chan raid

[2015-06-19 02:16] astrolantique commented on #942
@HandsomeMatt handsome matt is right for the first time in his life

[2015-06-19 02:17] shadowcat-mst commented on #942
@strand I think at this point, pick one or the other of mine and @meltheadorable's proposals (having re-read the thread, we'll probably have similar amounts of silliness around each but they're both basically sound) and starting a new issue that's explicitly "discuss the text" so anything else can be deleted. It's what I'd do, anyway.

[2015-06-19 02:17] orionblastar commented on #942
@bitdeli-chef Oh noes not the famous hacker 4Chan! :)

[2015-06-19 02:18] Bumrang commented on #942
@HandsomeMatt ayy matt my boy

[2015-06-19 02:18] astrolantique commented on #942
@Bumrang oh god its bummerang. bummer dude.

[2015-06-19 02:19] Bumrang commented on #942
@astrolantique yeah its a real bummer dude

[2015-06-19 02:19] astrolantique commented on #942
nenolod was a real fucking mong but it didnt stop me from using or working on charybdis
william pitcock if u read this you are stupid

[2015-06-19 02:19] bbielsa commented on #942
Can someone give me a TL;DR on that wall of text up there? cba to read it all.

[2015-06-19 02:20] meltheadorable commented on #942
@shadowcat-mst

The entire section about being "reasonable" is obfuscatory, by which i mean, it hides the purpose of the code of conduct behind language that doesn't really convey much of anything. I would delete the entire section, its framing is needlessly hostile ("no one is special", "don't be offended...") and it doesn't really add anything.

This is much clearer in the alternative codes of c

[2015-06-19 02:21] HandsomeMatt commented on #942
Please keep opinions on social and political issues away from GitHub.

This is a place to post issues on stuff that makes sense, logic and code, not this dumb shit.

[2015-06-19 02:21] orionblastar commented on #942
@bitdeli-chef There are at least three code of conducts being proposed here. We can't all agree on which one. SJWs want transphobes banned due to Twitter comments, CoC is limited to just Github but not external sites like Twitter.

[2015-06-19 02:21] astrolantique commented on #942
Code of Conduct.
penned by ATLANTIQUE aka ASTROLANTIQUE the 1st
18/6/2015 9:21pm CST

1. dont be a mong

[2015-06-19 02:22] bbielsa commented on #942
2. use lua

[2015-06-19 02:22] HandsomeMatt commented on #942
1. just talk about the project
2. don't talk about anything else

[2015-06-19 02:22] orionblastar commented on #942
1. The first rule of the Code of Conduct, is we don't talk about the Code of Conduct.

[2015-06-19 02:23] HandsomeMatt commented on #942
Nice meme!

[2015-06-19 02:23] orionblastar commented on #942
I think I need to make some soap now.

[2015-06-19 02:25] shadowcat-mst commented on #942
@meltheadorable your "needlessly hostile" is others' "reminder this is a civil space, but conversations may grow heated nonetheless". The rules I proposed are intended to be inclusive of others' competing access needs, up to and including tell culture autistics, who are also a useful but oft maligned part of the open source community.

You're right that I failed to edit some language; that would n

[2015-06-19 02:25] astrolantique commented on #942
penned by ORIONBLASTAR the 1st
18/6/2015 9:23PM CST

i am making soap now.

[2015-06-19 02:25] astrolantique commented on #942
:-1:

[2015-06-19 02:26] Rohansi commented on #942
:+1:

[2015-06-19 02:26] HandsomeMatt commented on #942
Soap discussion is banned, I like to not use soap and I am offended at your personal usage of soap therefore you should not be allowed to make contributions to this open source project.

[2015-06-19 02:26] bbielsa commented on #942
@shadowcat-mst that is not nice, @astrolantique can't control his autism...

[2015-06-19 02:26] astrolantique commented on #942
:fu:

:ok_hand: :point_left: w/ :eggplant:

[2015-06-19 02:27] HandsomeMatt commented on #942
:gun:

[2015-06-19 02:27] Cephel commented on #942
Freedom of speech exists specifically to protect speech that *you* don't like.

[2015-06-19 02:27] astrolantique commented on #942
:scream::gun:
look it is me put a gun to head after all this stupid political crap

[2015-06-19 02:28] bbielsa commented on #942
test

[2015-06-19 02:28] Tamschi commented on #942
@HandsomeMatt

This, however, seems like a really *good* idea to regulate against based on behaviour alone. As would be @astrolantique's and probably @Bumrang's and @bbielsa's. I know it's hard for you but *please* keep it civil and constructive? As it is you're not helping anyone here.

(I know them from elsewhere but I didn't link them to this. We likely saw the same tweets.)

[2015-06-19 02:29] astrolantique commented on #942
please give me upvotes reddit

[2015-06-19 02:29] shadowcat-mst commented on #942
@strand yep. new issue time.

@meltheadorable here's hoping our keeping debating this will produce an outcome that's likely better than what either of us would've achieved alone. (bedtime in my timezone now though)

[2015-06-19 02:29] astrolantique commented on #942
how do you upvote a github issue comment.

[2015-06-19 02:30] astrolantique opened #945 "Don't have a Code of Conduct"
HEAR YE HEAR YE
this message was penned by ASTROLANTIQUE on 18/6/2015 at approximately 9:31PM central standard time.

this GitHub(:tm:) issue wishes to enforce the following policy:
1. this is a project for code and not politics

[2015-06-19 02:31] HandsomeMatt commented on #945
+1 code should be free

[2015-06-19 02:31] orionblastar commented on #942
Feature request to the Github website, add the ability to upvote or downvote a comment.

[2015-06-19 02:31] t0x0 commented on #942
@shadowcat-mst @meltheadorable @strand @orionblastar FYI, I'm submitting a pull request shortly with what I believe we have consensus on. Discussion can continue on the request.

[2015-06-19 02:32] orionblastar commented on #942
@t0x0 That is what we need, something submitted that all can see and talk about.

[2015-06-19 02:32] utterbull commented on #942
@orionblastar @t0x0
I third that motion

[2015-06-19 02:33] Bumrang commented on #945
+2 code should have freedom

[2015-06-19 02:33] astrolantique commented on #942
can i get github gold

[2015-06-19 02:33] t0x0 commented on #942
@meltheadorable you beat me! lol. I'll comment there moving forward.

[2015-06-19 02:33] HandsomeMatt commented on #942
How about we just close the issue, don't create a code of conduct and go back to making software without bullshit social issues having to get involved.

[2015-06-19 02:33] astrolantique commented on #945
+3 politics are 4 dummies

[2015-06-19 02:36] TheBerkin commented on #945
+4 Use C#

[2015-06-19 02:48] andrewmcwatters commented on #945
+5 thanks fp

[2015-06-19 02:57] samzanemesis commented on #942
Instead of a code of conduct I propose a set of goals to the project, the Mer Mobile OS project for example gets their goal and what they seek right in the main page, the project is also incredibly well maintained and due to that people get along with other members.

[2015-06-19 03:00] Ajedi32 commented on #942
@adambeynon Wait, you _locked_ the other issue that people were using to rant and pointed them _here_ instead? I could have told you that was a bad idea. Oh well.

[2015-06-19 03:00] matt-attack commented on #945
+6 When did github issue trackers become a place for people track their personal issues?

[2015-06-19 03:03] HandsomeMatt commented on #942
Who gives one!! Shut up and code!!

[2015-06-19 03:08] samzanemesis commented on #942
🎉

[2015-06-19 03:08] samzanemesis commented on #942
🎆 🎇 🎉 🎊

[2015-06-19 03:13] Ajedi32 commented on #945
I actually really like this idea by @samzanemesis on the other thread:

Rather than try to write a bunch of highly specific rules to cover every conceivable situation that might arise, or highly general, subjective rules which don't do anything other than restate common sense, it might be good to simply write a mission statement or some explanation of the goals of this project, and call out behavi

[2015-06-19 03:20] cpancake commented on #945
jeez guys calm down it's just a code of conduct

[2015-06-19 03:31] Ajedi32 commented on #945
@cpancake I think this issue is more a backlash against all the political browbeating going on in the other threads than actual opposition to the idea of a code of conduct in general. That's my impression anyway.

[2015-06-19 04:18] puromonogatari commented on #942
You all need to stop disrupting the process, it's difficult enough to get people to take pastafarian discrimination seriously without all these distractions

[2015-06-19 04:35] puromonogatari commented on #945
A code of conduct is entirely reasonable, if it prevents anyone who has ever contributing code from offending anyone else who also has.

How can pastafarians expect to be protected from bigotry otherwise

[2015-06-19 05:09] tarcieri commented on #942
I've adopted the Contributor Covenant on my projects. Here's a pull request to add it:

https://github.com/opal/opal/pull/947

[2015-06-19 05:12] meltheadorable commented on #942
@tarcieri did you have an issue with #946 ?

[2015-06-19 05:22] Cephel commented on #942
It's only fair to mention that the person who started the initial controversy by merit of whining about twitter things on the issue tracker is also the owner of the code of conduct that is being pull requested by @tarcieri in #947

One could claim personal bias. In fact, going through past projects that adopted this CoC, this seems to be a recurring trend, where people start a fake controversy, th

[2015-06-19 05:43] tarcieri commented on #942
@meltheadorable not specifically, no, just proposing an alternative, and letting the community evaluate their respective merits

@Cephel that argument is called [Poisoning the well](https://en.wikipedia.org/wiki/Poisoning_the_well)

[2015-06-19 05:47] #945 closed

[2015-06-19 05:54] krainboltgreene commented on #942
When there's a fucking crime? Until then, yeah great observation, it's pretty organized. Welcome to how a community works.

- A developer who put a CoC in any new repo and trying to back fill all of my repos with one.

[2015-06-19 05:56] meltheadorable commented on #942
How are you accusing somebody of making up a fake controversy while, in the same breath, comparing the adoption of a code of conduct to organized crime?

[2015-06-19 05:58] Tamschi commented on #942
@meltheadorable You can check the Twitter posts that started all this, especially the ones by @krainboltgreene where he puts words into @elia's mouth and fans the flames as much as possible. It's completely appalling.

[2015-06-19 06:12] scatpost commented on #942
Can we stop using an abbreviation for code of conduct.  It is very triggering for dyslectics to constantly read about a coc being inserted.  I had a bad experience and I hope everyone on the internet will respect my wishes in this matter.

[2015-06-19 06:14] krainboltgreene commented on #942
@scatpost While I doubt you're posting that in good faith, I think that's something I can reasonably do.

[2015-06-19 06:20] weev commented on #942
@krainboltgreene @scatpost refusing to accept the love of CoC is homophobic. Is this 1835? I can't believe that you're going along with this.

[2015-06-19 06:47] tarsolya commented on #942
@krainboltgreene While I respect your devotion to the One and Only Truth, it's still only how *you think* a community should work.

That said, I'm in 100% support for every open source project to implement a Code of Conduct. I think a good Code of Conduct is one where the separation between project related speech and personal opinion is stated as clearly as possible and the project related spaces

[2015-06-19 06:51] krainboltgreene commented on #942
Look at this thread and tell me with a straight face that your "outrage automatons" are in any way a reality and not just a strawman to make yourself feel better.

[2015-06-19 06:59] puromonogatari commented on #942
Indeed, i feel that belittles my belief in the flying spaghetti monster

[2015-06-19 07:22] tarsolya commented on #942
@krainboltgreene Please. I see you're selling, but I'm not buying. I was raised in a country where policing thought and behavior was the daily norm and I know exactly how it looks and where it leads. Do you really think I'd need such strawmans to make myself feel better? Nice try :)

It's a simple question, really. Can you accept criticism or negative opinion about groups of people you care about

[2015-06-19 07:25] krainboltgreene commented on #942
Considering I was there, in the conversation, and you weren't I'm fairly sure I'm extremely qualified to say that this was about transphobia and hate. You on the otherhand are a very opinionated third party with very little to say, and what you do say is condescending.

But really, tell me how much you know The Truth while simultaneously telling me you truly understand thought policing.

[2015-06-19 07:38] tarsolya commented on #942
@krainboltgreene The conversation is still there for everyone to see and draw conclusions. Your opinion is just as qualified as everyone else's, not more, not less. I'm just as opinionated as you, there's no difference.

Of course you're free to think that your opinion has more merit and if your ad hominems help you reconcile dissent, I'm here for you.

And about the thought policing, you just hav

[2015-06-19 07:40] adambeynon commented on #942
Please see #947 (and similar #946).

[2015-06-19 07:46] tarsolya commented on #942
@adambeynon Thanks, Adam. While I don't agree with the choice, I hope it will help you get to where do you want with your awesome project.

[2015-06-19 07:49] puromonogatari commented on #942
I'm going to be heavily scrutinizing any contributors from this point forward by going through their social media profiles and reporting any incidences of insulting age, body types, religion, or posting anything remotely sexual.

Let's make open source fun again!

[2015-06-19 08:06] Wazubaba commented on #942
Before you read anything I wrote, I would like to apologize to the devs for posting this, and would in no-way blame them for deleting it for not being very constructive. I also apologize to anyone who gets angry by what I am to say.

I used to agree with the side of all the social justice folks here(can't think of a better term, sorry if it seems rude). Then I realized that all these people, liter

[2015-06-19 08:11] seanknox commented on #942
Thanks Max Headroom!

[2015-06-19 08:17] strand commented on #942
Resolved by #947.

[2015-06-19 08:17] #942 closed

[2015-06-19 09:55] dandv commented on #942
This is #1 news at https://lobste.rs/ right now.

![image](https://cloud.githubusercontent.com/assets/33569/8251111/9e190e32-162e-11e5-892a-7b3d87f80672.png)

[2015-06-19 12:03] jacqueline-homan commented on #942
@scatpost, @utterbull @shadowcat-mst @orionblastar @thatdudeoverthere @t0x0:

@orionblastar: “It seems there are social justice warriors here who want to promote the liberal point of view and punish people for not making Politically Correct statements on social networks.”

I can see your point of view and theirs as well. My thoughts: Often those same "social justice warriors" further marginalize t

[2015-06-19 13:19] jaredcwhite commented on #942
@Cephel: "Freedom of speech exists specifically to protect speech that you don't like."

_Exactly._ This whole "I'm not going to use/support this project if/unless..." stuff cuts both ways folks. I, for one, will be _very_ reluctant to put a whole lot more of my volunteer time supporting the Opal community if I fear there will be an Internet mob targeting myself, friends I've made, or the project

[2015-06-19 13:31] jacqueline-homan commented on #942
@jaredcwhite: "This whole "I'm not going to use/support this project if/unless..." stuff cuts both ways folks."

Which begs the question: Who will watch the watchers?

[2015-06-19 14:01] asiekierka commented on #942
Ctrl+F "fork".

8 matches, none of which help anything.

Generally, the way I handle any kind of disagreement on a FOSS project is to fork the project and see if my fork catches on and/or becomes technically superior. Sometimes, those changes got merged back into mainline, sometimes they did not. Often, forks which prove themselves better cause the original to die, become niche or simply be ignore

[2015-06-19 14:23] meltheadorable commented on #942
@asiekierka I think forking it might eventually be a good idea if no progress is made here, the work is certainly important enough, but @adambeynon, the creator, seems sympathetic to the need to hold contributors up to a standard of behavior and I think creating a competing project ought to be a last resort not the first course of action. I'd rather we improve our existing communities when it's po

[2015-06-19 14:24] asiekierka commented on #942
@meltheadorable - that's perfectly fine, i'm just pointing out that when things go too far, forking is usually the better of options.

[2015-06-19 14:28] meltheadorable commented on #942
@asiekierka This was mostly complicated by GamerGate folks on twitter, reddit and elsewhere latching onto this and coordinating a mass response, which turned what could have been a productive discussion into a spiral of derailment and pointless bickering interspersed with a handful of people actually trying to accomplish something.

[2015-06-19 14:29] asiekierka commented on #942
@meltheadorable - "GamerGate" is a sad codeword. Some of the points raised are valid, some aren't - on both sides, and this is a less trivial issue than either side might think. It has to be said that there are more and less sensitive people, but... it's not that easy.

[2015-06-19 14:31] utterbull commented on #942
I'm not prepared to encourage switching to a fork unless Meh, Elia or any of the other contributors/maintainers/users in the 'freedom of speech' (for lack of a better term) camp are punished or censored.

The way in which the current CoC was adopted, and what it was derived from, seems to suggest that Opal management wants to leave this unpleasant business behind and get back to coding as soon as

[2015-06-19 14:39] asiekierka commented on #942
@utterbull: *All* of them? Even those who only voice their opinion, even outside of here, and then proceed to function normally in society? This would be a severe harm to the project and you know it.

[2015-06-19 14:53] Ajedi32 commented on #942
@asiekierka I think you're misinterpreting that. He's saying that if *any* of the current contributors are "punished or censored" then he'd support a fork. (E.g. He's not saying they should be "punished or censored", he's saying they shouldn't be.)

[2015-06-19 14:58] utterbull commented on #942
@asiekierka
As @Ajedi32 said I'm saying that they should NOT be punished. I apologize for my ambiguous statement.

[2015-06-19 15:03] asiekierka commented on #942
@utterbull - It's alright. I'm not native English. Sorry. I forgot to notice the "unless" properly, and perhaps I'm a bit too used to certain statements being said more often than not.

[2015-06-19 15:29] RealRaven2000 commented on #942
interesting conversation. I think github projects should decide whether they want to do technical engineering or social engineering. Mixing both is unhealthy. Assumptions about "correct social values" are clearly something that isn't beneficial to a productive collaboration. Often those who think they are in the right will create more harm and divisiveness than those who they attack. Furthermore,

[2015-06-19 17:01] #882 closed

[2015-06-19 17:18] Cephel commented on #942
@asiekierka It's not about the change per se. It's about reaching a bigger audience. This is why these things are forced upon a community, rather than trying to convince said community.

I've seen many other projects where this was successfully attempted, people use or manufacture a controversy, then use peer pressure and mob mentality to add things to the project that have nothing to do with the

[2015-06-19 17:22] puromonogatari commented on #942
I see you agree that the already adopted code of conduct isn't nearly strict enough

[2015-06-19 17:29] Lisias commented on #942
Just my two cents. Feel free to ignore me.

The first Open Source project I attended was MuLinux, almost 20 years ago. Yes, I got involved into a flame war. And yes, everybody (including me) was admoested properly by... Being asked politely to shut up or being banned from the list. End of story.

A tech forum is to discuss tech things. No more, no less. And I want to suggest this as the only, prim

[2015-06-19 17:38] krainboltgreene commented on #942
Well @Lisias really nailed this, now that we've got a codified standard for what the Opal community feels is acceptable behavior *we can really get our agendas into the project*.

This is what my shadow organization of social justice warriors **really** needed to start our work. From here on out @Lisias will no longer be able to get into bitter arguments on the internet! Next: World domination!

[2015-06-19 17:43] Lisias commented on #942
It's exactly what was intended to be done against @elia isn't? Getting rid of a competent contributor to satisfy a (external to the project) political group's agenda?

[2015-06-19 18:58] fche commented on #942
Would I be correct to interpret the new CoC language, "Project maintainers have the right and **responsibility** to remove, edit, ..." as placing a positive obligation on project maintainers to enforce this stuff?  And furthermore in the same paragraph, does it in effect threaten them with removal from the project for not doing so?

[2015-06-19 19:56] BeauBouchard commented on #942
I personally think the 14 line Code of Conduct set forth in this initial version from the adapted Contributor Covenant is very poorly worded. It has no clear definition of the unacceptable behavior besides the few discriminatory uses and the only thing it really does is provide a "feel good" set of guidelines to follow. A real organization's code of conduct is explicit, and there is nothing explic

[2015-06-19 20:56] n1rvana commented on #942
This "Code of Conduct", which is being proposed by a bigot, you should note, includes "trolling" as one of its "crimes"".

This whole thing started when said bigot (CarolineAda) decided to harass meh and the other members of this project with her witch hunt against one of the maintainers of the project and opened and issue here yesterday, bringing in brigades of other haters.

The "Code of conduct

[2015-06-19 21:22] krainboltgreene commented on #942
Core contributor and thought leader behind the opal project now straight up retweeting transphobic images. Good think they're making trans people feel welcome.

![transphobic](https://cloud.githubusercontent.com/assets/334809/8263359/67302006-169f-11e5-93b5-b45a0d3e4f58.PNG)

[2015-06-19 21:31] hatarist commented on #942
@krainboltgreene Care to elaborate on how's that image transphobic? (Genuine curiousity)

[2015-06-19 21:45] meltheadorable commented on #942
It's the same kind of reductionistic sex-essentialism that has been used to deny transgender people access to treatment & care, housing, jobs and gender-appropriate spaces for uh...ever, really. It's also frankly just inaccurate.

[2015-06-19 21:46] utterbull commented on #942
@krainboltgreene
You all ready knew Elia wasn't trans friendly. Why on earth would you go read his twitter account? Do you enjoy reading transphobic material?

[2015-06-19 21:46] krainboltgreene commented on #942
@hatarist: Not only is it [factually incorrect](http://www.genetic.org/Knowledge/WhatAreXYChromosomeVariations.aspx) it presents the idea that gender is somehow attached logically to chromosomes and therefor transwomen are somehow not real women.

[2015-06-19 22:31] AWildColin commented on #942
@krainboltgreene [You're not the only one that can link to a webpage on the internet and peddle it as some sort of scientifically accepted fact](https://en.wikipedia.org/wiki/Sexual_differentiation). Least mine has cited sources and is comparatively unbiased, nor does it contradict the consensus of the scientific community, but I digress.

While this isn't the correct platform to debate what const

[2015-06-19 22:41] krainboltgreene commented on #942
*biologically* women.

Straight up that's wrong. That's not what the T-Shirt says, that's not what
the T-Shirt is trying to imply, and you're being disingenuous for the sake
of argument.

It's transphobic and Elia is transphobic.

On Fri, Jun 19, 2015 at 5:31 PM, Chris Olin <notifications@github.com>
wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-19 22:42] Ajedi32 commented on #942
@AWildColin Couldn't have put it better myself. Let's keep political debate out of this issue.

[2015-06-19 22:56] hatarist commented on #942
@krainboltgreene Does it really present it?

The physical sex (not gender) definition is pretty much attached to chromosomes, isn't it? Throw in some X and X chromosomes and we get a female (sex) child in _most_ cases. Throw some X and Y chromosomes, boom, same thing for the male (also the "sex" male; again, not in all cases). It's a pretty popular assumption and I haven't found any contraries on

[2015-06-19 22:59] AWildColin commented on #942
@krainboltgreene Saying the sky is green will not, in fact, make it green. I understand that this might be a shocking revelation for you, so I'll give you some time to take this in.

If you want to think @elia is transphobic, that's your prerogative. Keep it on Twitter and don't bring it here. @CoralineAda and several others could stand to heed this advice.

While on the topic, allow me to point o

[2015-06-19 23:50] Cephel commented on #942
I don't use gender pronouns, I use sex pronouns. So when I say that SHE is a GIRL, I don't mean that she identifies as one (that concept I will never understand), I mean that her chromosomes are X and X.

In my language, there isn't even a word for the feminist version of gender, gender was always an alias for sex. So I'm gonna make myself very clear: You changed the definition of gender, so I'm s

[2015-06-20 00:01] krainboltgreene commented on #942
Heyo, surprise, you let a white guy's transphobia to run consequence free
and suddenly the bigots spring to action to tell you How The World Really
Works with their 1920's ideologies and 1920's science.

Bonus points for "your ideas are political, mine are not, I am a robot and
don't understand how real humans think".

On Fri, Jun 19, 2015 at 6:50 PM, Cephei <notifications@github.com> wrote:

--
K

[2015-06-20 00:03] ktec commented on #942
All I can say is WOW, if the same amount of effort thats gone in to writing these two threads was put into pull requests and contributions, the Opal project would be flying right now. I <3 Opal and really enjoying playing with Pixi Js with it.

[2015-06-20 00:11] AWildColin commented on #942
@krainboltgreene The only bigot here is you. You're welcome to leave any time.

[2015-06-20 00:13] strand commented on #942
@ktec I agree, Opal could gain a lot of contributors by fostering a kind, inclusive, cooperative, and harassment-free community, and a good first step to show good faith to those who have been paying more attention to Opal in the last few days would be actively enforcing its code of conduct.

[2015-06-20 00:14] Cephel commented on #942
Yeah why don't we start kicking all the old contributors to emphasize a new beginning. Smash the patriarchy!

[2015-06-20 00:23] AWildColin commented on #942
@strand It already does. I would be bold enough to argue that intentionally misconstruing a contributor's personal opinions as somehow indicative of a project's community is hostile, uncooperative, and needlessly harassing.

The code of conduct was a waste of time and energy. Nothing @elia said was in conjunction with this project and harassing the community to adopt some sort of code of conduct b

[2015-06-20 00:47] nfour commented on #942
Well done @strand and @CoralineAda, you just made this entire repo into a laughing stock and @meh let it happen.

[2015-06-20 00:49] RealRaven2000 commented on #942
could these gender issues be discussed elsewhere? I thought github was about coding? It seems to me (no matter what the opinions on transgenderism or biology are) this has really nothing to do with the project at hand. Also I think the code of conduct seems to be designed as some sort of a exclusionary tool, not sure what the agenda behind it is, but again it seems to be more of a distraction than

[2015-06-20 01:50] SweetLordy commented on #942
So I'm transgender.

I've been bullied. A lot. People say things that offend me. A lot. I don't like it. I don't like it when people like Elias shares his transphobic views either. It hurts.

Because of this, I'll be honest. I pretty much absolutely hate Christians and other religious people and I actively look down on religious people. I think they're stupid and sub-human garbage.

=D

Uh. That's

[2015-06-20 01:52] HandsomeMatt commented on #942
Nailed it ^

[2015-06-20 01:57] krainboltgreene commented on #942
Someone please explain to me how wanting them to not be a part of the
community is some how freaking censorship or a free speech issue? Or is
this the standard "gamergate not understanding adult concepts"?

On Fri, Jun 19, 2015 at 8:52 PM, Matt Stevens <notifications@github.com>
wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-20 02:04] Cephel commented on #942
And he pulls the gamergate card, why am I not surprised.

[2015-06-20 02:10] puromonogatari commented on #942
it's the second time actually

[2015-06-20 02:17] Cephel commented on #942
#952

[2015-06-20 02:55] utterbull commented on #942
@krainboltgreene
As has been explained countless times all ready, github is for code. If you don't like somebodies twitter post, then by all means, tweet about it. If you don't like somebody, that's okay, you have a right to your own opinion.

What is unacceptable is you (or anyone else for that matter) insisting that we make all of our decisions based solely on your (or anyone else's) opinions.

[2015-06-20 02:57] SweetLordy commented on #942
@utterbull

I agree with you so much, and I wish other people would understand what you're trying to say, without taking it as you being hostile.

Do you have an XMPP account or something? You sound like a cool person and I wouldn't mind chatting with you, just as a friend.

[2015-06-20 03:33] Lisias commented on #942
You are still arguing about this?

How about go writing some code to a project of your taste, and stop trying to make other people behave the way you want to?

This whole thing gives me a bad taste on my mouth. I'm really disappointed by the way a few haters can disrupt a techical enterprise into an endless and frivolous discussion.

[2015-06-20 04:14] TheCodexx commented on #942
There's a certain irony to people saying "it's about everyone feeling safe and not worrying about other people rejecting you" trying to come into a project, one they don't even contribute to, and attempting to harass them out for something they've said. You're making someone else feel uncomfortable because you can imagine a scenario where someone else might, theoretically, feel uncomfortable.

But

[2015-06-20 05:41] orionblastar commented on #942
I was afraid of this, more political statements than getting a CoC written and followed.

Yeah I understand some groups of people are marginalized and cannot find work. I was a programmer with a good career until I developed a mental illness and ended up on disability. Nobody wanted to hire me because I was mentally ill. But I am high functioning with a high IQ but a low EQ or emotional intelligen

[2015-06-20 05:51] Heather commented on #942
A bit offtopic but is there public boycott list already from this point of view already..?

[2015-06-20 06:17] SweetLordy commented on #942
Heather, are you seriously considering boycotting something over this?

[2015-06-20 06:19] Cephel commented on #942
If I was invested in this project, I would consider it, yes. I have already made a pull request for a more reasonable CoC and if that failed, would I have invested serious time in the project, I would consider it a permanent fork and work on the fork instead, without the CoC that is in place right now.

[2015-06-20 06:34] Dispenserim commented on #942
@krainboltgreene what's gamergate got to do with this, you dumb motherfucker?

[2015-06-20 06:35] Heather commented on #942
@SweetLordy sorry, it was major offtopic there, removed comment and moved question, should not be discussed here

[2015-06-20 10:32] RealRaven2000 commented on #942
I really didn't like the pulling in of #gamergate, but since you brought it up, this is actually similar. People being vilified because of their _opinions_ not because of their actions; also, _exluding_ people is a real action in the real world and this is truely Orwellian. I have one trans friend, does that say *anything* about my ability to contribute code or even collaborate better? I was attac

[2015-06-20 10:55] adambeynon commented on #939
@vais Yes, this has been missing for too long. We need to restructure the code generation part for method definitions, as well as method calls that can pass args after a splat. This is likely to be after 0.8 though. I suspect it will involve a lot of rewriting of code generation classes.

[2015-06-20 11:10] onmran opened #954 "Blacklist Specific Users from Project for Repeated Frivolous Complains"
On Github Issues page, user CoralineAda requested removal of a contributor for expressing a particular viewpoint on a particular political issue on a discussion outside of Github. This was a frivolous, disrespectful, and deeply offensive complaint within Github that made the contributor feel unwelcome. I request that Opal blacklist the user.

CoralineAda accused the contributor of "transphobia" on

[2015-06-20 11:21] RealRaven2000 commented on #942
Copied from #952, now readin up in this thread I see how "prophetic" I was on 2 sections of the CoC. Exactly passage 2 I mention below is being used in this thread to further divisiveness. Girls / (g)Others / Guys, please let a lawyer look at these. So here goes:

If there has to be a code of conduct, then it needs a clause that it should *not* be possible to exclude people because of opinions or

[2015-06-20 11:36] AWildColin commented on #942
@RealRaven2000 Because the people collaborating on Bugzilla are well-adjusted adults that do not tolerate this type of nonsense, unlike @krainboltgreene's narrative that "We are not robots. We are not brains in a jar and the people around us have feelings."

I know that I, personally, work with and have worked with a bunch of people with conflicting ideologies and political views that they express

[2015-06-20 11:38] RealRaven2000 commented on #942
Another problematic section:

"Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct. Project maintainers who do not follow the Code of Conduct may be removed from the project team."

Now can you show us a precedent where this has been necessary? You are crea

[2015-06-20 11:39] krainboltgreene commented on #942
Yes, please tell me about the community that none of you give a shit about
because like maybe one of you is actually using Opal. I'm sure you know
more about how it should function, behave, and tolerate than say me, who is
a core contributor on one of the few projects using Opal.

On Sat, Jun 20, 2015 at 6:36 AM, Chris Olin <notifications@github.com>
wrote:

--
Kurtis Rainbolt-Greene, Hacker
Softw

[2015-06-20 11:43] AWildColin commented on #942
@krainboltgreene I know how to manage a community without being a bigoted jackass, which is more than I can say for you.

[2015-06-20 11:45] dandv commented on #942
Wow. I can't believe how worked up people get about this.

I'm sure some project maintainer made fun of Eastern Europeans at some point. I'm Eastern European. So what?

I'm sorry, but as long as I'm not discouraged from contributing to an OSS project by a maintainer's attitude, I couldn't care less what they tweet about. Many are religious, which is a huge turnoff for me. But it's also irrational

[2015-06-20 11:46] RealRaven2000 commented on #942
*Yes, please tell me about the community that none of you give a shit about because like maybe one of you is actually using Opal. I'm sure you know more about how it should function, behave, and tolerate than say me, who is a core contributor on one of the few projects using Opal.*

It has been flagged to me by a fellow Nepalese mozilla.org collaborate who said he wanted to contribute but got doub

[2015-06-20 11:47] AWildColin commented on #942
@RealRaven2000 I was under the impression that he "graciously" stepped down to shut the masses up and get people back to focusing on the real issues, not that he was sacked.

Nonetheless, your point still stands and it is a good one.

[2015-06-20 11:55] RealRaven2000 commented on #942
Thanks, indeed you are right he stepped down, I am not quite sure about the "masses" of protest though. What I do not know is whether he really got a chance to say that he had moved on from his previous position - his "crime" was that he had privately donated towards an initiative promoting different-sex marriage; something that most Mozilla collaborators including me would not have been "aligned"

[2015-06-20 11:57] krainboltgreene commented on #942
Wow that's some impressive spin.

On Sat, Jun 20, 2015 at 6:55 AM, RealRaven2000 <notifications@github.com>
wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-20 12:08] RealRaven2000 commented on #942
* Wow that's some impressive spin.*
Yeah I really don't care too much about what you anybody else has donated to in their spare time; I am sure you have all the details on it making him a "bad person" for "hating gays" or something. I am frankly not interested in constantly grouping people int progressive and other camp. I would let you contribute code if you were from the Red Khmer or Ku-Klux-Kla

[2015-06-20 12:10] krainboltgreene commented on #942
Yeah, in that you don't understand humans or what makes a good community.

On Sat, Jun 20, 2015 at 7:08 AM, RealRaven2000 <notifications@github.com>
wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-20 12:13] AWildColin commented on #942
@RealRaven2000 That all comes down to the backbone and resolve that a project's leaders have. Tim Cook's undoing is working for publicly funded universities and research institutions, which are becoming more censored and requiring adherence to political correctness, like what we've seen here. He could always go work for a private company.

Don't bait him. He's throwing a fit because he's not heari

[2015-06-20 13:55] adambeynon commented on #954
Thank you for your concern about Opal. While this has all been handled badly, by all sides, the outcome is that we now have a Code of Conduct that will hopefully illustrate the general feelings about how contributors and users of Opal should behave and act. I don't think banning users is a very productive step to take.

However, if there are concerns about existing contributors or their behaviour

[2015-06-20 13:55] #954 closed

[2015-06-20 14:16] RealRaven2000 commented on #942
Good advice. I think bringing up Eich was probably already too much. I just don't like all that background checking, and classifying people. It is no fun when people think they can send you on a wild goose chase in order to prove ideological purity; I am just too old for that.

[2015-06-20 15:10] jacqueline-homan commented on #942
Jesus Harold Christ. Is this arguing STILL going on? Funny, but when I started to learn programming and web app development 2 years ago, I thought I was entering a field that was known as the "problem-solving industry."  Apparently not.

Did anyone still arguing about this CoC issue even bother to read what @orionblastar wrote upthread about understanding and relating to people who have difficulty

[2015-06-20 15:13] jaen commented on #942
Ugh and here I was lurking in these issues and quietly fuming to meself not wanting to get tangled in the happenings, but all this passive-aggresive sarcasm about how the doubleplus goodthinker is _obviously_ always right and other opinions are doubleplusungood wrongthink tipped the scales.

So I went to the twitter, read tweets in question and I really can't see how @elia's tweet can be construed

[2015-06-20 15:39] shadowcat-mst commented on #942
@jaen I'm attempting to get us as far as clear language over there but currently we're at "closed with no language at all" which seems like a net loss.

[2015-06-20 16:47] abritinthebay commented on #942
People who are wondering why some are calling the abusive trolls here GamerGate: it's because you're using the same language, phrases, and idioms that GG and KiA does. Dismissive crap like "hugbox" for example are dead giveaways of those environments (or their related Chans, which is probably worse).

So far though it seems Opal is not worth saving. The maintainers have shown no interest in being

[2015-06-20 16:51] TheCodexx commented on #942
Obviously everyone who disagrees with you is "abusive", right? They
couldn't possible have valid counterpoints or anything.

You're not here for a discussion. You're here to get your way.

On Sat, Jun 20, 2015 at 9:47 AM, Gregory Wild-Smith <
notifications@github.com> wrote:

[2015-06-20 17:00] Cephel commented on #942
If everyone is telling you that you're wrong, maybe it's not some giant conspiracy, maybe it's because your world views are actually incorrect.

[2015-06-20 17:56] Lisias commented on #942
It's not time to find a way to use the CoC the proper way (pun not intented): protect the project from disruption?

[2015-06-20 17:59] Cephel commented on #942
If you want to protec the project from disruption, remove the CoC again, because it's been nothing but a constant stream of disruption coming from the people who proposed it ever since this blowout started.

[2015-06-20 18:39] jacqueline-homan commented on #942
@abritinthebay , as an adult survivor of child sex trafficking who knows very well what Gamergate was about, I take EXTREME umbrage to your comments calling the other developers on this thread "Gamergate trolls."

You are WAY out of line.  What I saw here was NOT the dehumanizing or targeting of a disadvantaged, marginalized group by the project's maintainers and regular contributors. What I saw w

[2015-06-20 18:46] jacqueline-homan commented on #942
@Cephel : >"If everyone is telling you that you're wrong, maybe it's not some giant conspiracy, maybe >it's because your world views are actually incorrect.

And the developers objecting to the way this whole thing has been handled since the brouhaha erupted like Mount Vesuvius the other day are all from a very diverse background set and political persuasion, so if this *was* a conspiracy, it woul

[2015-06-20 18:51] jaen commented on #942
@abritinthebay
Since only I used the term _hugbox_here I assume you're talking - in part at least - about me.
If you think that looking at what theories /co/ might have about recent interesting plot developments in _Unsounded_ or _Gunerkrigg Court_ or actually reading through links to KiA a friend sends me from time to time instead of dismissing them outright makes me an abusive troll, then sure -

[2015-06-20 19:08] Lisias commented on #942
@Cephel: >>> "If you want to protec the project from disruption, remove the CoC again"

I have the Will, but I have not the Power. Neither the Right, as I'm not a contributor here, you are.

Like the CoC or not (pun not intended again, honest!), the fact is that the maintainers want it for some reason and you'll have to deal with it somehow.

The challenge will be to disrupt the CoC while not disr

[2015-06-20 19:10] krainboltgreene commented on #942
Haha, he's not a contributor.

On Sat, Jun 20, 2015 at 2:08 PM, Lisias <notifications@github.com> wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-20 19:11] Lisias commented on #942
And this fact is fun because?

(I have the feeling that you are the only one laughing here, since the beginning).

[2015-06-20 19:15] krainboltgreene commented on #942
It's funny because a majority of the people in these threads don't give a
flying fuck about Opal's community, they're not a part of it. As much as
you gamergators claim to be against outrage culture you do nothing but
stick your nose into places to get outraged.

On Sat, Jun 20, 2015 at 2:11 PM, Lisias <notifications@github.com> wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th

[2015-06-20 19:16] Lisias commented on #942
I agree with @jaen . This whole thread is a bitter proof that the project really needs a Code of Conduct to protected yourselves from... yourselves.

Any one, virtually any one out there can start a horrible and bloody and successful flame-war on the project. Worst, after 2 or 3 days, they're still here throwing gas into the flames.

For the best and for the worst, you guys have now a Code of Cond

[2015-06-20 19:24] Lisias commented on #942
Your vision of the world is too narrow.

I'm not a Opal community member. I'm a open source community member since, perhaps, the born of some of you.

What's happening here is not new - to tell you the true, is older than Internet, it was already happening on the dark ages of the CBBS. :-)

This mess got my attention by accident, for some reason this time I choose to give a modest contribution say

[2015-06-20 20:03] Lisias commented on #954
@adambeynon , the guy can have a good point.

It's god damned too easy to anyone out there come here and play havoc with the maintainers and contributors without the slightest fear of consequences.

You must stand for your guys/gals/whatever, even (and to tell you the true, mainly) if in the process you end up making someone unpleased.

[2015-06-20 20:29] lesley2015 commented on #942
This is hilarious because no one cares about trannies. To clarify: I *care*, and am sympathetic to their struggles, but I'm not going to lie about reality to pander to their shrieking. I'm a liberal and even I admit the TERFs are right on this issue.

[2015-06-20 20:31] Lisias commented on #942
What each one of us cares should be offtopic in this forum.

This is about coding Opal and how to make this community thrive on it. Or at least, it should be.

[2015-06-20 20:39] lesley2015 commented on #942
Watching trannies freak out over is hilarious. They want to punish someone for thoughtcrime. For saying something that is actually true.

The code of conduct should be : "transwomen are men".

[2015-06-20 20:46] meltheadorable commented on #942
In which comments on the issue for creating a code of conduct make the need for one *abundantly* clear.

[2015-06-20 20:58] mcd1992 commented on #942
This is an issue tracker for code, not a forum. Can a collaborator lock this issue since the code part of this issue has been resolved.

[2015-06-20 20:59] Lisias commented on #942
The last example is already covered by GutHub's ToS, no need to a CoC here.

To tell you the true, I should had read the ToS earlier:

https://help.github.com/articles/github-terms-of-service/

I already saw at least three accounts here that falls into that statement. Worst, from people that actively contributed somehow to this or other project (I don't have to agree with the contribution in order

[2015-06-20 21:00] Lisias commented on #942
@mcd1992 : > This is an issue tracker for code, not a forum.

I stand corrected.

[2015-06-20 21:12] lesley2015 commented on #942
I haven't abused anyone, though ?

I'm just pointing out that most people side with TERFs over tedious trannies.

[2015-06-20 21:22] jacqueline-homan commented on #942
@adambeynon @meh @Lisias @mcd1992 @dandv @jaen
@abritinthebay
Here's my suggestion, FWIW: I propose that everyone defending the idea of a CoC and claiming to be concerned about inclusiveness, safe spaces, tolerance and diversity in IT, specifically on the Opal project, spend more time actually providing a real material helping hand up to impoverished, disadvantaged marginalized and underrepresente

[2015-06-20 21:22] Lisias commented on #942
Unfortunately, you may have. There're transgenders here, and one of them started this mess.

While not agreeing with a single word from the person, I will not condone doing to she what she did to others - even without being directly mentioned.

Of course you could said what you said without intention of direct harassment of that person. But nevertheless, you're disrupting this thread by making sta

[2015-06-20 21:27] Lisias commented on #942
@jacqueline-homan , what you proposes is not my fight. My fight is exactly what I'm doing: trying to prevent that external political agendas disrupt technical groups.

I had my share in the past, and I'm facing it again on the professional life - being this the reason I resolved to participate in this problem on Opal.

I really want to see this problem solved here, and then use the knowledge gaine

[2015-06-20 21:30] jaen commented on #942
@lesley2015
You display a distinct lack of respect though. I'm not a fan of most of the things SJW push for, including gender reassignment, and yet I would never call a transperson a _tedious tranny_ because guess what - even if you think that wanting to change the apparent sex one was born with is silly, they should still command the same basic respect you would give any other human being, unless

[2015-06-20 21:38] krainboltgreene commented on #942
@jacqueline-homan Don't pretend to know me or what I do.

[2015-06-20 21:41] lesley2015 commented on #942
@jaen

Ah, I just meant to say that as a quick way of saying "transwoman" (a man who identifies as a woman).

To be clear - most transpeople are normal. It's just a tiny subset. Histrionic, angry transgenders on the internet. Malcontents. *Those* are the tedious ones.

I think a code of conduct should provide protections for cisgenders (normal people) from thought policing and harassment.  What @e

[2015-06-20 21:53] Lisias commented on #942
I could be wrong about the trolling purpose of leslye's account, but not about the disruptive. :-)

You failed to understand the purpose of the CoC: its aim is to prevent disruption of the community's purpose: coding Opal.

The Opal's CoC should not deal with any other issues other than the ones that affects the core business of this project.

If it ends up doing that, it should be by beneficial s

[2015-06-20 22:00] lesley2015 commented on #942
Identity Politics is a joke, though.

These malcontents will *never* be happy -- they want the moon on a stick. They want to change meanings of words. They want us to pretend they are real women.

The wisest person here has to be @utterbull.

The lamest person is @krainboltgreene. Go and play somewhere else, kurtis. Stop trolling here. No-one cares.

Don't give these clowns an inch - they'll take

[2015-06-20 22:17] lesley2015 commented on #942
A CoC would be utterly superfluous and pandering to the most **toxic** trolls.

May I suggest you stop giving the Coraline troll attention?

[2015-06-20 22:19] Lisias commented on #942
You are the one calling her here. ;-)

[2015-06-20 22:22] krainboltgreene commented on #942
Yeah, person who will probably never come back after a day, I'll just leave
the community I've been a part of and want to improve.

You've totally convinced me that you, someone who isn't a part of the
community and cares very little for the people involved, are completely
right about how the world works.

How about I continue to be a part of the Ruby transpilier community and you
go back to 8chan

[2015-06-20 22:28] Lisias commented on #942
And yet, you are the one that are constantly harassing and demeaning people here.

Surprised? I'm not.

[2015-06-20 22:29] SickOfThisCrap commented on #942
@krainboltgreene is there a reason you only respond to the lowest of trolls here?  There have been a number of thoughtful criticisms here against you, and yet you only seem to want to respond to the trolls.

And all of this because someone said on Twitter that trans people don't "accept reality" ?!  An ignorant thing to say, but does it really justify all of this?  Does *that* comment really justi

[2015-06-20 22:32] lesley2015 commented on #942
whatever, Ive never been to "8chan".

Why is it so important for you to get others to pretend they think transwomen are female ? It's not that people are hostile to transwomen - it's that they simply *do not care*.

I want transvestites to be happy. I abhor the homophobia they endure.

You cannot solve the deplorable violence against trangenders with cisphobic tropes.

[2015-06-20 23:01] yesitsazerodayaccount commented on #942
**DISCLAIMER**: I'm sorry I have to post this as a zero day account, but my personal account reports all the places I've been working (including the current one), my personal social network links and most of all the projects I have contributed to and I don't want to involve them in something that only reflect my personal view on this.
This just shows 2 things: Github issues are not for people supp

[2015-06-20 23:04] bbnnt commented on #942
Just came in and felt very bad about seeing those things happening on github.

In the end it will just thrash a project that is (I think) too young to stand the controversy that will make it famous (a probability)

Felt bad because, as many might have said; this thing is everything but code and getting things done ine that scope. And code is not about debate; it is about making things work. And i

[2015-06-20 23:09] krainboltgreene commented on #942
Have you even seen a software related user forum?

On Sat, Jun 20, 2015 at 6:05 PM, bbnnt <notifications@github.com> wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-20 23:12] krainboltgreene commented on #942
contributors committed a hate crime and Opal - the project - backed up
supporting the hate crime, I could have some second thoughts on it

Just to be clear here, a hypothetical person commits a hate crime, a the
project community leaders support that, and *you could have some second
thoughts*?!

On Sat, Jun 20, 2015 at 6:08 PM, Kurtis Rainbolt-Greene <
me@kurtisrainboltgreene.name> wrote:

--
Kurt

[2015-06-20 23:14] Lisias commented on #942
It's a lie. No crime was committed.

[2015-06-20 23:17] Lisias commented on #942
Deleting my previous comment - I misread the previous post.

My apologies to anyone that had read it.

[2015-06-20 23:18] yesitsazerodayaccount commented on #942
@krainboltgreene

just to be clear, mr. Gestapo guy **THERE WAS NO HATE CRIME**
and yes, I could have some second thoughts, I think it would be very hard to remove for example Javascript from my job, even if I wanted to.

[2015-06-20 23:19] lesley2015 commented on #942
Coraline's friends need to have a word with him about his hubris. Wanting to persecute someone for wrong-think is fascistic.

[2015-06-20 23:36] bbnnt commented on #942
Ahah lotusrb have just signed the "coraline law".

Tomorrow is gonna be too late guys (; !

[2015-06-20 23:41] jacqueline-homan commented on #942
This is an issue tracker for code, not a forum.

I had my share in the past, and I'm facing it again on the professional life - being this the reason I resolved to participate in this problem on Opal.

I really want to see this problem solved here, and then use the knowledge gained by reusing the  solution where appropriate (and possible).<

Understood, @Lisias. It was my understanding that this b

[2015-06-20 23:42] yesitsazerodayaccount commented on #942
this is the beauty of freedom.
they can if they want.

[2015-06-21 00:05] krainboltgreene commented on #942
@yesitsazerodayaccount: just to be clear, mr. Gestapo guy THERE WAS NO HATE CRIME

Yeah, I get it, that's why it's called a hypothetical.

Gestapo, censorship, free speech, debate, law...Christ, you know what I wanted? I wanted the Opal community leaders to come out and say:

Yes, @elia is a bigot, that's pretty clear. We don't want bigots in our community, we **do want** transgender, homosexuals,

[2015-06-21 00:09] Lisias commented on #942
@jacqueline-homan : > A little bit of Golden Rule could go a long way, I think.

Exactly. You will not see me nosing into others people's work because I don't like something they said no matter what, no matter where. I expect they do the same for me.

I choose to project my convictions into this community, as it appears that most (but not all) of the contributors appears to think like me.

[2015-06-21 00:17] yesitsazerodayaccount commented on #942
I don't think Opal is about what you want the core contributors to say.
They say or don't say what they want.

They said that a lot.
They just said it in a form you don't understand: **everyone** is welcome, because we don't need to know who you are to accept your contributions.

do you understand that normal people like me are commenting anonymously because they fear a shitstorm on their personal

[2015-06-21 00:17] lesley2015 commented on #942
@krainboltgreene excuse me but @elia is a gentleman and a scholar. It's unfortunate that you're either brainwashed or mentally retarded. Transwomen are cross dressing men (who I support and welcome). They are not women. The reason you get so upset by this statement of fact, is because you know it's true, and the cognitive dissonance irks you.

Why don't you take your complaint to "A Voice for Men"

[2015-06-21 00:18] Lisias commented on #942
@krainboltgreene : > All because you people (of which like maybe one might even care about Opal in the first place) seem to equate me wanting the above to some ridiculous idea of censorship.

Well, lets then define what's censorship in order to verify your claim:

https://en.wikipedia.org/?title=Censorship

So Yes, your proposing censorship. If contributors fail to self-censor themselves in unrela

[2015-06-21 00:20] krainboltgreene commented on #942
You straight up can't be a nice guy to work with and be a bigot, I'm sorry.
That's not how it works no matter how much you wish it did.

On Sat, Jun 20, 2015 at 7:17 PM, lesley2015 <notifications@github.com>
wrote:

--
Kurtis Rainbolt-Greene, Hacker
Software Developer
1631 8th St.
New Orleans, LA
70115

[2015-06-21 00:23] Lisias commented on #942
This is not how it works *FOR YOU*. It works for others.

It's your problem, not Opal's.

[2015-06-21 00:25] yesitsazerodayaccount commented on #942
I think the only people I'm sure I would feel uncomfortable to work with right now are you and @CoralineAda
You gave me proof that you can only create a toxic environment and I'm a big supporter of other's freedom, because I care about mine
BTW, @elia contribution is real and measurable, his good manners are well known, that's all I care
What @elia does outside here is none of my business
It's not

[2015-06-21 00:25] lesley2015 commented on #942
@krainboltgreene Can you please take your mens rights activism elsewhere? Stop lying about good people, calling them "bigots", because they won't play *pretend*.

Look, if someone has a cock and balls, they are a man. They are NOT a woman. Women don't have that. And, it's okay if you fancy one - it's okay to be gay. Just please stop abusing people here.

[2015-06-21 00:30] lesley2015 commented on #942
I have nothing but respect, love and compassion for the likes of Caitlyn Jenner and Rachel Dolezal. If they could code, they would both be very welcome here. They are both heroes, courageously expressing their inner identities.

[2015-06-21 00:48] Lisias commented on #942
Value judgments about people, ideally, should be keep out of scope on this discussion.

It should not matters if someone admires a war hero or an inglorious bastard - if the code is good and he/she/it =P behaves in order to promote productive cooperation, that should be all that matters.

My agreement with your opinions will not change what I think it should be the right way on conducting a produc

[2015-06-21 00:51] meltheadorable commented on #942
Every post @lesley2015 makes cements the need for the code of conduct to be in place and enforced.

[2015-06-21 00:52] juanplopes commented on #942
@meltheadorable :+1:

[2015-06-21 01:01] Lisias commented on #942
Leslye's posts are far from being the worst problem around here.

For the second time this day, I must stand corrected: Leslye *IS NOT* trolling anyone here (as I wrongly stated above). The way the criticisms are being made, in my opinion, should change to be more productive, but that's all.

[2015-06-21 01:02] lesley2015 commented on #942
@meltheadorable this is not a place for men to get counselling for their identity crises. Every post you make underlines this. A CoC will still mean you male friends are male.

[2015-06-21 01:06] yesitsazerodayaccount commented on #942
@meltheadorable

I don't like this word, sorry.
Have you tried applying the [NCOC](http://nocodeofconduct.com/ncoc)?
Have you tried to contact @lesley2015  to resolve the issue?

[2015-06-21 01:08] juanplopes commented on #942
@Lisias I think you are wrong. @lesley2015 is an one-day account (that is a deliberate effort to not hold accountable for any offensive things he/she is saying) that is stating vocally that trans women shouldn't be considered women. Maybe some of us grew in a society where this was acceptable. But it isn't anymore today.

And after all, it's not like @lesley2015 is debating the idea of the essence

[2015-06-21 01:10] lesley2015 commented on #942
Of course she wants it to be enforced. These are far left authoritarian who want to punish *bad think*. I would like to advocate against indulging them in any way, shape, or form. It helps no-one in the long term - least of all, them.

There is a fringe group of transgender extremists who are extremely annoying. They need to be given the short shrift they deserve.

[2015-06-21 01:13] meltheadorable commented on #942
@Lisias Lesley is 100% absolutely trolling here. If you're unable to see it, then I can only imagine that you have somehow been mercifully spared exposure to other trolls of this sort, but it's actually unreal how obviously on-script this is if you have experience with them.

[2015-06-21 01:14] lesley2015 commented on #942
@juanplopes transwomen *literally* are not women… unless you're using some doublethink or po-mo changed definition of "woman". I absolutely advocate peace and love for them. i also advocate free speech and free thought for @elia, especially as what he was saying is 100% true!

[2015-06-21 01:15] SickOfThisCrap commented on #942
@krainboltgreene - can you please justify your assertion that the original tweets were "hate?"

Pretty please?  He said trans people weren't accepting reality.  Did he say anything more?  Anything?  Please tell me there's more to it than that.

It was an ignorant thing to say, but not "hate."

[2015-06-21 01:17] yesitsazerodayaccount commented on #942
Sorry, just to be clear, are you saying that a different opinion implies ignorance on the other side?

[2015-06-21 01:18] meltheadorable commented on #942
@yesitsazerodayaccount In this case, that is the charitable interpretation yes.

[2015-06-21 01:19] juanplopes commented on #942
@lesley2015 You can't advocate peace and love for people whose gender identities are constantly questioned, attacked and in the focus of any issue. Free speech doesn't mean you can say anything without consequences. If you say racist things, you get arrested (I hope). If you attack the honor of someone, you may get prosecuted. If you say discriminating things, you may be considered unwelcome in so

[2015-06-21 01:19] lesley2015 commented on #942
It's so tedious to play *Let's Pretend* and act like transwomen are women.
Especially when they have a cock, balls and full beard. (But even if they have surgical intervention, they always *remain male* - sex is immutable.)

[2015-06-21 01:20] meltheadorable commented on #942
@lesley2015 What does your inane bigoted bullshit have to do with the code of conduct?

[2015-06-21 01:20] SickOfThisCrap commented on #942
@lesley2015  is obviously a troll.  Stop feeding it and someone please justify whether the original tweets that started this (remember them?!?!?!?!?!) were actually *hateful*

[2015-06-21 01:21] meltheadorable commented on #942
Github needs a way to block contributions from zero-day accounts.

[2015-06-21 01:21] yesitsazerodayaccount commented on #942
@meltheadorable
I mean, not that I agree or I care about things @lesley2015 is writing, because it's clearly not something we should debate here, but you feeding the troll is not making things worse, if really we have a troll here, as you say?

[2015-06-21 01:22] Lisias commented on #942
@juanplopes and @meltheadorable Yes, i thought exactly the same after his second post.

However, while not agreeing with the way he's criticizing the problem (I think he's being disruptive by rising secondary or irrelevant issues), I don't see him as a troll. There're others, with "real" accounts trolling here. Badly.

The CoC could applied on him? Probably. But again, he's the lesser of the offen

[2015-06-21 01:24] yesitsazerodayaccount commented on #942
or to protect other's people privacy
not everybody like it when years of your work get destroyed for expressing your opinions

[2015-06-21 01:24] Lisias commented on #942
Perhaps I'm too old school :-)

But the worst I can think from Leslye is as a Spin Doctor. An offense, but not as bad as trolling.

[2015-06-21 01:25] Lisias commented on #942
@yesitsazerodayaccount has an *EXCELLENT POINT* here.

[2015-06-21 01:25] SickOfThisCrap commented on #942
not everybody like it when years of your work get destroyed for expressing your opinions

People like Adria Richards prove this to be a true statement.

[2015-06-21 01:27] juanplopes commented on #942
@yesitsazerodayaccount Privacy != anonymity. This is an ongoing discussion here in Brazil, where the law protects privacy and free speech, but forbids anonymity.

If you think you got any unrightful sanctions for stating your opinion, I think any free country has laws that allow you to prosecute those who harmed you. But this isn't possible if people keep discussing anonymously.

@Lisias :arrow_up

[2015-06-21 01:27] meltheadorable commented on #942
Frankly, the fact that adding a document that sets out controversial standards of behavior like "don't abuse people" has caused so much of a fucking uproar that an actual nazi and a legion of trolls from reddit/8chan/#GamerGate/vox day's blog/wherever felt the need to come park their asses down here and shit all over it is an indictment of the culture around free software.

[2015-06-21 01:28] lesley2015 commented on #942
@juanplopes Are you saying that I'm attacking someone's "honor" by **not** lying about reality? Think about how insane that statement is!

I plead with you all to cease your cisphobic oppression of @elia. Perhaps you can try and take over some other community? This one is pretty clinical and evidently resilient to hype and emotions.

So, while you've crashed and burned here, maybe there are other

[2015-06-21 01:29] juanplopes commented on #942
@lesley2015 I didn't say that. It was just an example of matters where free speech isn't free of consequences.

[2015-06-21 01:29] lesley2015 commented on #942
Facts > feelings

[2015-06-21 01:29] yesitsazerodayaccount commented on #942
in this case the are the same thing
because my real identity is the key to access my personal data
I'm sorry, I won't let anyone ruin my reputation because I wanted to express my support to the Opal team
hoping that the project will suffer no consequences from this accident

[2015-06-21 01:31] utterbull commented on #942
@juanplopes
Congratulations, you managed to bait me into responding.
"Free speech doesn't mean you can say anything without consequences."
In the USA, it does (with a couple of specific exceptions).
"If you say racist things, you get arrested (I hope)."
Not in the USA (I know).
"If you attack the honor of someone, you may get prosecuted."
In the USA libel has a much narrower definition.
"This is a

[2015-06-21 01:32] meltheadorable commented on #942
@utterbull did you miss weev?

[2015-06-21 01:33] juanplopes commented on #942
@yesitsazerodayaccount If you can't hold liable for the things you say, the law just doesn't apply to you and you can say anything you want. I agree this is a delicate subject, specially in non-free countries. But I think one-day accounts here are just causing more harm than good.

[2015-06-21 01:34] lesley2015 commented on #942
Coraline needs to work on his **toxic masculinity**. Perhaps it is impacting his ability to reason.

[2015-06-21 01:35] yesitsazerodayaccount commented on #942
I'm not scared by the law, what have I done to be scared by the law?
I'm scared by the troops of zealots that could call me bigot tomorrow on the interwebz posting screenshot of my account and bringing a shitstorm on projects I work on or accusing the people I work with of being accessory of a hate crime that never happened for real…

[2015-06-21 01:37] juanplopes commented on #942
@utterbull I'm really not an expert in US law (specially with all the idiosyncrasies of all the states). But if everything you say is true, I retract myself from the discussion with a deeper knowledge of why some stuff are the way they are.

Thank you, nonetheless.

[2015-06-21 01:37] SickOfThisCrap commented on #942
Of course speech has consequences.  The pressing question HERE is whether saying that "trans people aren't accepting reality" justifies all of this, and qualifies as "hate.".

It was an ignorant statement, but my vote would be "no."

[2015-06-21 01:38] meltheadorable commented on #942
@adambeynon @meh @elia @vais I've left y'all out of this because it's the weekend but can you please just shut all the stupid issues for collaborators only? Nothing of any value has happened here, or will happen here, until somebody has the time to ban every half-assed troll that wants to shit the place up until they get bored and move on.

[2015-06-21 01:41] lesley2015 commented on #942
Recap
* SJWs tried to bully and shame @elia for wrong-think.
* Extremely creepy and unacceptable.
* They got exposed for their **toxic masculinity**.

Out of politeness, some people may pretend that "transwomen are women", but no-one actually *believes* it.

Stop. Oppressing. Us. Please.

[2015-06-21 01:42] SickOfThisCrap commented on #942
@meltheadorable - do you really not think this whole garbage started by you-know-who was a giant overreaction to the "accepting reality" tweet?

Do you really not see why people would be pissed if something so dumb (and it was dumb) as that can create this shit-storm?  SJWs like this will create a chilling effect on the OSS community.  I hate the idea of major contributors having to become more an

[2015-06-21 01:43] utterbull commented on #942
@meltheadorable
Who get's to decide who the trolls are?

[2015-06-21 01:43] yesitsazerodayaccount commented on #942
@SickOfThisCrap

that's why I don't want my facebook page exposed :)
I only write stupid crap on facebook

[2015-06-21 01:45] lesley2015 commented on #942
The core of the issue **is** that (some) transgenders don't accept reality.  @elia was right!

[2015-06-21 01:46] SickOfThisCrap commented on #942
@yesitsazerodayaccount

Me too.  I'm *extremely* circumspect with what I write on Twitter.  Which sucks.  It sucks that the thought police can get people fired for saying things which are insufficiently politically correct.

[2015-06-21 01:46] meltheadorable commented on #942
@SickOfThisCrap It's not just that tweet, there's plenty more to go around, as well as the contents of the article he was agreeing with and discussing when he posted that tweet. It's a long-running pattern of active bigotry.

@utterbull I honestly don't even give a fuck anymore, because frankly the only people left at this point are trolls and the handful of masochists willing to swim through thei

[2015-06-21 01:48] SickOfThisCrap commented on #942
@meltheadorable link to said article?  Please?  I really just want to see what was so horrible as to justify this.

[2015-06-21 01:48] yesitsazerodayaccount commented on #942
assuming you're right:
you're trying to fight the bigotry how? with a different kind of bigotry?

so why don't you go to sleep? :)

[2015-06-21 01:50] SickOfThisCrap commented on #942
@meltheadorable - I think it's also worth mentioned that I've worked with plenty of people who were convinced that I, as an atheist, would burn forever in hell when I died for rejecting their religious dogma.  I didn't try to get them punished for saying or believing the "wrong" things.

Speaking of religion, I can't help but wonder how many of these SJWs have said anti-Christian things on their s

[2015-06-21 01:57] lesley2015 commented on #942
A *Code of Conduct* should do something about the anti free-speech, anti-realilty **bigots** calling me "troll".

[2015-06-21 02:01] lesley2015 commented on #942
People working on free software generously donate their time and expertise.
SJWs should be beyond grateful that they are even being entertained.
You're trying to manipulate *very clever* people who see through all your BS. They're trying their hardest to be polite and respectful. In doing so, I fear they are feeding the troll.

[2015-06-21 02:09] utterbull commented on #942
@SickOfThisCrap
"Speaking of religion, I can't help but wonder how many of these SJWs have said anti-Christian things on their social media. If I had the time, I wonder what I might find. "
Don't sink to their level.

[2015-06-21 02:12] Lisias commented on #942
You guys are totally out of problem here. What @elia said, or is, or believes, *are totally out of scope*.

What matters is that a contributor (no matter who) said something (no matter what) out there (no matter where), and someone (no matter who neither) came here and tried poisoning the community against the guy. And this is all what matters.

You let this happen. You are the problem, not Caroli

[2015-06-21 02:12] SickOfThisCrap commented on #942
@utterbull - I won't  :)

Of course even if I did, they'd have some garbage excuse about how Christian is the "privileged" position, and so it's ok to shit on *them* ... or some such thing.

[2015-06-21 02:13] juanplopes commented on #942
@SickOfThisCrap Not that this matters, but I'd be equally sad. O even more sad, as this affects me personally (I'm not Christian, but my wife is my son will probably also be). No discrimination is acceptable.

[2015-06-21 02:14] Lisias commented on #942
The CoC should defend the contributors as well.

[2015-06-21 02:20] SickOfThisCrap commented on #942
@juanplopes - the world would be a lot simpler if we all thought the same.  Also more boring.  Unlike some here I don't think free speech is without consequences; I just think the bar should be pretty high.  Much higher than anything I've seen so far.

If the contributor in question were calling for the mutilation and torture of trans people, then the Coraline Ada people would have a point.  But n

[2015-06-21 02:24] Lisias commented on #942
If the contributor were calling for mutilation and torture of trans people, the issue should hadn't be brought here neither. It should be denounced to the Police, and the guy should be arrested and prosecuted.

And then, and just then, the issue should be brought here to be decided who will assume the guy's previous responsibilities.

[2015-06-21 02:26] SickOfThisCrap commented on #942
@Lisias - I respectfully disagree, but really this hypothetical is so far removed from what really happened that it's hardly worth discussing :)

The world is a big place.  I don't think it's in anyone's best interest to try to exclude from OSS people who aren't coming around on trans rights quickly enough.

[2015-06-21 02:28] Lisias commented on #942
@SickOfThisCrap I respectfully fail to understand where we disagree, given your last statement. :-)

[2015-06-21 02:32] juanplopes commented on #942
@SickOfThisCrap I must say that I didn't agree with Coraline's action at first (and she did herself apologize to Elia for that on Twitter). I have a lot of conservative friends who share Elia's opinion and actions. And I think he seems a real gentleman in the action part (like my friends also do). And I also still can't agree someone must be unthoughtfully forced to stop saying things he believes

[2015-06-21 02:33] SickOfThisCrap commented on #942
@Lisias - I'm just saying hypothetical statements like I said may or may not be illegal depending on where said, but would (imo) justify calling for that contributor's removal.  As would calling for "shipping n*ggers back to Africa" etc.  There is such a thing as hate speech, and it shouldn't be tolerated.  It's hard to define, I know.  And the existence of such a line, I fully recognize, is open

[2015-06-21 02:35] SickOfThisCrap commented on #942
@juanplopes  - I do think meh handled it pretty horribly.  Really.  I think if he had responded more productively this probably could have all been avoided.

[2015-06-21 02:39] scatpost commented on #942
@ all yous people who think XY = male XX = female

Please google androgen insensitivity syndrome.  Females with AIS have XY chromosomes almost exclusively identify as female and have always been considered female by all of society for all time and forever.

Gender dysphoria is often a learned psychosomatic disorder.  But it can also have a strong heritable component either caused by a subjects own

[2015-06-21 02:41] meltheadorable commented on #942
Thank you @scatpost for the hourly reminder of why we need a code of conduct.

[2015-06-21 02:41] Lisias commented on #942
@juanplopes What you says is the reason we have people wanted by the Interpol being elected.

I can guarantee Paulo Maluf get his feelings deeply hurted every time someone asks why Interpol has his picture on the wanted page.

[2015-06-21 02:42] lesley2015 commented on #942
# [the rise of authoritarian transgender politics](http://blogs.spectator.co.uk/culturehousedaily/2015/06/call-me-caitlyn-or-else-the-rise-of-authoritarian-transgender-politics/)
A must read.

[2015-06-21 02:54] scatpost commented on #942
@meltheadorable
Your welcome.  But I don't know if I can come up with something every hour -_-'

[2015-06-21 03:01] Lisias commented on #942
Yeah. The 0 day accounts are doing more harm then good. They poisoned the well, and now this exact page is being promoted on Twitter as a discussion about transgendering, and not about what ir should be - a way to define how the community could work better without being disrupted.

This issue is, now, hijacked to be used to enforce unrelated people's own agenda at the expenses of the Opal's commun

[2015-06-21 03:10] utterbull commented on #942
@Lisias
The zero-day accounts are unfortunate, but as has been mentioned before, they are needed when people don't feel safe.

[2015-06-21 03:15] meltheadorable commented on #942
Yeah, you can't even be an open bigot anymore without people getting mad at you and questioning whether you should be in charge of running a diverse and inclusive community. What's the world coming to?

[2015-06-21 03:15] Lisias commented on #942
@utterbull I understand, and I second that.

But they managed to hijack this discussion nevertheless, and there's nothing one could be done to prevent it (except by locking it from everybody that is not a member of the project).

This discussion is not about the Opal community anymore. You had been played.

[2015-06-21 03:21] lesley2015 commented on #942
What are we going to do about [the authoritarian transgenders](http://blogs.spectator.co.uk/culturehousedaily/2015/06/call-me-caitlyn-or-else-the-rise-of-authoritarian-transgender-politics/)? **They** are the trolls. **They** are the problem. Any *Code of Conduct* must protect from their harm.

@elia has been the victim of cisphobic hate. Are the cisgendered even welcome in Opal anymore?

[2015-06-21 03:22] scatpost commented on #942
@Lisias not just twitter, its also on reddit, tumbler and at least two chans.  It's like a proxy war between superpowers and neither side actually cares about Opal.   But yeah the SJW blew it up on twitter first to  kick off the dogpile.

Persinally I think JavaScript is botnet and Opal should instead focus on Ruby to full Java or even better to ActiveX plugin :^)

Everyone just loves ActiveX righ

[2015-06-21 03:22] Lisias commented on #942
No, @lesley2015 , *WE* are the problem. We let them do it.

[2015-06-21 03:24] SickOfThisCrap commented on #942
@Lisias

Now that, I agree with fully :)

[2015-06-21 03:45] Ajedi32 commented on #942
@Lisias
Huh? What do you mean? How did anyone let anyone do anything? You can't exactly stop people from posting on GitHub.

In fact, meh dealt with the problem pretty decisively when it first came up. Closed the issue with "Bring contributions, they will be accepted with open arms, bring morals and politics in here, and you will be shown the metaphorical door." Kinda went downhill from there thou

[2015-06-21 03:50] lesley2015 commented on #942
@Lisias @SickOfThisCrap

**We mustn't victim-blame ourselves.** They are a [powerful force](http://blogs.spectator.co.uk/culturehousedaily/2015/06/call-me-caitlyn-or-else-the-rise-of-authoritarian-transgender-politics/).

Truth:

[2015-06-21 03:54] dandv commented on #942
What does this discussion have to do with Opal?

Why am *I* participating here, even though I've never used Opal?

Let's stop this madness and take it off of GitHub.

[2015-06-21 03:57] Cephel commented on #942
Let's recap

SJWs start an issue where there is none, then pretend the issue was caused by people they oppose, force a CoC which allows them to target people they don't like and justify the backlash against their terrorism is proof that the CoC was needed in the first place.

Am I the only one to notice something very very wrong with this?

[2015-06-21 03:57] orionblastar commented on #942
First off I have nothing against GLBT people. I am empathetic to anyone who struggles to find a job and has problems fitting into society and has been bullied and picked on. As someone who is mentally ill I've had that happen to me. The difference is that I have nobody defending me because of my mental illness, there is no political correctness that can be used in my case.

Political correctness c

[2015-06-21 04:07] Cephel commented on #942
@orionblastar I tried to propose an alternative to literal Orwell. People thought I was trolling and rejected it based on that alone. At this point contributing to projects that just sway in the wind and bend to the largest noise becomes increasingly frustrating, because you're working on a community, for years and suddenly outside forces come in and demand you change the way you **think** because

[2015-06-21 04:11] scatpost commented on #942
@orionblastar but the coc they want fights against the pervasive cult of meritocracy which is what your promoting.  They don't care how good you code only that you agree with there ever progressing progressivisam.  And when your not progressive enough for the new fad to be championed they will eat there own.

[2015-06-21 04:16] cmdrkotori commented on #942
You know what the sad thing about this is? All we are doing by including a CoC is to give trolls a pole to hang someone from. You only have to wait for the next time someone on the team gets baited. That's why it is a bad idea.

It's also a bad idea because you don't need one. If I can go about making a full-blown clone of MPC-HC without a uml diagram much less a full-fledged coding standards doc,

[2015-06-21 04:21] Lisias commented on #942
@Ajedi32 One is not responsible for what others do with he, but he's responsible for what the does with what was did with he.

WE (as as group os persons) failed to address correctly the problem, and after, we failed on keep the alleged problem in perspective.

As I said before, it's damn to easy to anyone from "out there" came here and play havoc with anyone of the community members. Instead of p

[2015-06-21 04:25] lesley2015 commented on #942
There's some concentrated wisdom and insight in the last few posts alone. 👏People here have a deep understanding of the toxic SJW playbook. We're simply not having any of it. If you push us, you will only get your feelings hurt, more - we will restate the truth.

We respect and welcome transgenders, but we will not let you oppress us.

[2015-06-21 04:36] SweetLordy commented on #942
If you guys are still fighting, here's how I see it.

I'm transgender.

I'm mostly accepted now, as we can see. People will fight for my rights, even non-LGBT people.
This didn't happen even 20 years ago. I would've been murdered 70 years ago.

You know how I got here? I spoke out.
Transgender people spoke out.

I used my free speech and spoke out against what was morally popular, and because I wa

[2015-06-21 04:37] lesley2015 commented on #942
👏

[2015-06-21 04:48] Ajedi32 opened #956 "Investigate using WebAssembly as a compiler target"
WebAssembly is a sort of bytecode intended to be used as a compiler target for languages that run in web browsers. It's an open standard being developed by Google, Microsoft, Mozilla, and others. (See [Google, Microsoft, Mozilla And Others Team Up To Launch WebAssembly, A New Binary Format For The Web](http://techcrunch.com/2015/06/17/google-microsoft-mozilla-and-others-team-up-to-launch-webassemb

[2015-06-21 04:56] Lisias commented on #942
@SweetLordy , you are putting on this community's shoulders a burden that they didn't asked for neither deserve to. It's not up to them to carry on this fight.

I don't see why these guys actions and decisions should be put on a global perspective, I don't see anyone "out there" coming here to help them solve their problems - au contraire, all I'm seeing is they coming here to give these guys a lo

[2015-06-21 04:59] Lisias commented on #942
That said, please understand I' not making statements against you, your beliefs or your gender. I think you are pretty right - I just don't agree that this is the place to do that.

We are guests here. We should know better.

[2015-06-21 04:59] SweetLordy commented on #942
Well, Lisias, if it doesn't end up being an internet-wide issue, then it doesn't.

But this is FOR SURE very popular, and getting attention outside of even just Github.
So eh. It is what it is. My speech was a bit dramatic, but still, this issue does capture my attention as a programmer and transgender person. Just my 3 cents.

[2015-06-21 05:20] vais opened #957 "Ruby Time "is a" JS Date vs "has a" JS Date"
Currently Ruby `Time` is bridged to JS `Date`. This makes implementing support for a `Time` instance having an arbitrary time zone difficult (impossible?). In JS, `Date` can be UTC or *local*, whereas in Ruby, a `Time` object can carry with it its own arbitrary time zone that is independent of *local* time on the machine.

Making the relationship between Ruby `Time` and JS `Date` a *"has a"* relat

[2015-06-21 05:41] jacqueline-homan commented on #942
@orionblastar :

Actually, that's not entirely true. One need not look too far into history to see horrific human rights violations committed under the auspices of "science" (Tuskagee Syphilis experiments being one example). The entire eugenics movement was based on some really bad "science" to justify the extermination of entire groups of people. Including people suffering from mental illness. In

[2015-06-21 06:09] jacqueline-homan commented on #942
@Cephel :

No, you're not the only one who noticed that. As soon as I saw things escalate to a bloody feeding frenzy, my bullshit detection siren started going off big time. At risk of sounding shrill, I will go out on a limb and admit that the thought has crossed my mind that this may have been orchestrated with specific intent to deliberately destroy the Opal project without any consideration fo

[2015-06-21 06:29] juanplopes commented on #942
So you all are telling me that even our industry having an extreme bias towards some gender/race stereotype, are you all willing to weight the voice of who is speaking solely by a metric where the dominant stereotype has clear advantage by the very reason we have the bias (please note how much 'code' we've read so far, almost no other form of contribution is even mentioned)?

Don't you acknowledge

[2015-06-21 06:48] SweetLordy commented on #942
@juanplopes

"Our Industry".

Who's industry?

I don't view the ability to create amazing things with programming code to be exclusive to anyone.

I can program, you can program, anyone who wants to learn to program can learn to program.
Computers do not judge your race or gender or religion. It will either work or it won't, according to the laws of physics that the processor relies on and the law

[2015-06-21 06:53] juanplopes commented on #942
Yet, some specific demographics do a lot more than others. Strange, huh?

So discussing social issues in open source isn't allowed, then?

I have, and it is bulshit.

[2015-06-21 07:02] SweetLordy commented on #942
This will change naturally as computers become more and more mainstream, and cheaper as well.
I also don't think it's "Strange, huh?". Do you think it's some sort of conspiracy against other demographics?

Because that's absolutely absurd, and if there IS a conspiracy, it's directly from the government or some sort of religious authority.

If you seek such powerful rules in your favor, then you de

[2015-06-21 07:20] juanplopes commented on #942
I also don't think it's "Strange, huh?". Do you think it's some sort of conspiracy against other demographics?

I don't think there's a conspiracy. I think there's a self feedback loop, like the one shown here. It's like saying everyone can make money, but it is naturally much easier to make money if you already have money. And suddenly, the poor stays poor and the rich stays rich, with exceptions

[2015-06-21 07:25] AmbientMalice commented on #942
Let us consider Scientology. To a Scientologist, the teachings of Scientology form the very core of their identity and their day to day life.

Now there are people in this world, shocking as it may sound, who have the audacity to declare that Scientologists are delusional. Some even advocate persecution of innocent Scientologists, accusing them of being part of some scam. Even whispers of child ab

[2015-06-21 07:30] jacqueline-homan commented on #942
We have a diversity problem because those claiming to promote diversity don't want to include the voices of the most disprivileged and marginalized and instead want to control the whole convo—which serves no interest other than the protection of their own socio-economic class privileges.

We have a diversity problem because the mass line is used to cover up the class line.

It has not escaped my n

[2015-06-21 07:30] SweetLordy commented on #942
@AmbientMalice understands that s/he can speak his/her mind.

This person also recognizes that because they're comparing transgender people to scientologists, that this would offend me on a personal level.

For this reason, I no longer like or respect AmbientMalice.

But that offensive view is just one aspect of their personality, and although I disagree personally, if they had good code and still

[2015-06-21 07:38] adambeynon commented on #942
Locking

[2015-06-21 10:04] meh commented on #957
I'm ok with that, we can always implement `#to_n` and add a note to the documentation.

I think the original reason was because it seemed to make sense at the time, but since we have `Hash` that isn't some kind of automatical `Object`, I'm fine with `Date` and `Time` being like that.

[2015-06-21 10:17] vais commented on #957
@meh right, I was thinking of the `Hash` example as well when debating this issue with myself :)

[2015-06-21 13:03] adambeynon commented on #942
I have locked this issue not to stop the conversation, but to direct it to somewhere more appropriate.

Over the last few days, a number of people in this conversation have taken the issue in hand and shown that discrimination against other individuals in our industry is, quite frankly, alarming. The tech/development/computer industry has a long and troubled history of discrimination against vario

[2015-06-21 13:03] adambeynon commented on #941
I have locked this issue not to stop the conversation, but to direct it to somewhere more appropriate.

Over the last few days, a number of people in this conversation have taken the issue in hand and shown that discrimination against other individuals in our industry is, quite frankly, alarming. The tech/development/computer industry has a long and troubled history of discrimination against vario

[2015-06-21 16:37] elia commented on #957
I'm ok too with reimplementing from scratch, It's also notable that JSON too avoids supporting the Date type.

[2015-06-22 09:48] adambeynon opened #958 "`Date.parse()` sometimes produces wrong date"
Looks like `Date.parse()` uses `parseInt` without a second param, which in some browsers (older safari versions from my tests) can parse months or days with leading zeros as octal, instead of base10, which gives the wrong result.

[2015-06-22 09:55] adambeynon commented on #958
Should have checked master before submitting this - Im using old version, and this issue has been fixed.

[2015-06-22 09:55] #958 closed

[2015-06-22 09:57] vais commented on #958
Yep, all hail the great JSHint! :smile:

[2015-06-22 18:00] cj opened #959 "issue passing &block to def []"
http://goo.gl/xDTGID

[2015-06-22 18:00] cj commented on #959
[code]

[2015-06-23 04:44] mojavelinux commented on #796
As more and more libraries are dropping support for Ruby 1.9, this is becoming a bigger issue with compatibility with gems. We'll want to get ahead of this one before it leads to misconceptions about Opal's lack of compatibility with Ruby 2.

[2015-06-23 05:48] misleb commented on #762
For what it's worth, this appears to to work with methods, but only if you convert them to proc first.

[code]

I am using this for dependency injection. So I then have to apply the proc with resolved dependencies to the instance using instance_exec

[code]

I'm actually impressed so far that so much of this low level stuff works. I was really not expecting a whole lot when I started playing with

[2015-06-23 11:42] adambeynon commented on #956
This would be a fun experiment. I did work on a ruby -> swift compiler before, using the opal lexer and parser. It didn't get very far, but it was surprisingly easy to reuse most of the compiler and just having optional code generation parts.

[2015-06-23 14:10] ylluminate commented on #956
That's really interesting to hear @adambeynon.  I'm kind of curious, even having not gotten very far, would you mind throwing what you did onto `github`?  I've personally contemplated using `opal` as the base for a couple of other transpiler ideas, including `swift`, and I think just seeing your commits and the thought process would be useful.

[2015-06-24 02:14] Ajedi32 commented on #956
Yeah, it seems WebAssembly is a pretty low-level language, so maybe there wouldn't be much benefit to compiling Ruby down to it, but I'm not really sure. Definitely worth looking into though.

[2015-06-24 18:12] adambeynon commented on #957
@vais `Time` does need to become a wrapper, just never had time to work on it. It is a complex beast, so any help is more than welcome. Some work might need to be done on `Date` as well, as that uses some ruby time methods that it assumes exists on the raw javascript object.

[2015-06-25 00:29] vais commented on #957
@adambeynon @elia thanks for the feedback guys. I'm slowly working through the `Time` bugs now as time permits (pun intended, not a lot of free time lately). The various methods are so interdependent, I have not been able to push anything that I would consider an atomic commit yet.

[2015-06-25 06:22] elia commented on #957
@vais I remember the rubinius implementation to be great as a reference (and already in ruby!)

[2015-06-25 23:20] ryanstout opened #963 ".hash on Time"
In MRI et al, the Time class's hash method is based on the value, not the object.

In MRI the following returns true:

[code]

Tested in 0.8.0.beta1

Keep up the great work!

[2015-06-26 01:41] vais commented on #963
https://github.com/opal/opal/blob/master/opal/corelib/time.rb#L211:
[code]
It's a bit of a hack.

[2015-06-26 01:41] #963 closed

[2015-06-26 01:55] ryanstout commented on #963
@vais Yea, I did this as a hack:

[code]

It sort of follows the opal .hash convention.

[2015-06-26 02:28] vais commented on #963
Good point. I guess I got a little greedy, because this way we also pass the spec that calls for the hash to be a fixnum ;) We can change that to be consistent, but not sure if that's a problem. @opal/core feedback welcome...

[2015-06-26 02:33] ryanstout commented on #963
@vais yea, my main issue right now is that storing Time instances with the same time as hash keys (or part of hash keys) doesn't return because the hash is different.

[2015-06-26 09:25] elia commented on #963
Our hash table implementation is the js object which has string keys, for that reason the result of `#hash` in opal is generally a string, but actually I never benchmarked to check if there was a difference.

I  also have the suspect that we're missing some `#eql?` checks inside `Hash` that would allow I think for collisions in the hash keys. Would need to dig deeper to see how exactly MRI handles

[2015-06-26 11:27] vais commented on #963
@elia I agree, keeping `#hash` implementations consistently returning a String across the board is more valuable than passing one extra Time spec :)

[2015-06-26 11:31] vais commented on #963
@ryanstout now Opal does the same thing as your current monkeypatch, so once you update Volt to latest Opal, you'll be able to just remove the monkeypatch.

[2015-06-26 23:07] gabrielrios opened #965 "Bridged Class with Arguments"
Maybe this more of a doubt than an issue.

So if I have a Native Class that receives an initial argument
[code]
And bridge it

[code]

When I try to use `#foo`, it returns `undefined` rather than the instance variable
[code]

I see that other bridged classes like `Array` and `String` defines  `self.new` direct to solve this issue, opal-jquery also does this with `Element`, but wasn't the case of m

[2015-06-27 00:48] vais commented on #963
@ryanstout actually, you may or may not want to call `Time#to_i` in your implementation of `Time#hash` there. Opal's implementation of `Time#hash` will use the maximum available time resolution, which is *milliseconds*. Using `TIme#to_i` means that all `Time` objects created within the same *second* will have the same `#hash` value in Volt. Just a heads up.

[2015-06-27 11:34] tymat opened #966 "Opal compiled javascript does not work in nodejs CLI"
I have this simple ruby class:
[code]

Compiled on the shell then tried to load the file on node CLI:

[code]
[code]

Added --no-exit flag

[code]

[code]

[2015-06-27 11:35] tymat commented on #966
This works on the browser console as a script \<src="sample.js"\> in an HTML

[code]

Some environment information
[code]

[2015-06-27 12:37] elia commented on #966
Opal by Ruby's nature is global even in nodejs, so instead of assigning to `var Opal` the result of `require('./sample.js')` you just require it.

After the require `Opal` is available as a property of the global object and then `Opal.SomeContract.$new()` works.

Actually the result of `require('./sample.js')` is an object with the `Opal` property, maybe that can be changed to just return `Opal`.

[2015-06-27 15:13] vais commented on #957
The reason I originally proposed this change was to be able to support "time zone travel" for `Time` objects, but at this point I still don't see a clear way to accomplish that with or without wrapping, so I'm closing this issue.

In https://github.com/opal/opal/pull/967 I left `Time` as is, bridged to JS `Date`, and `unsupported` all the specs that call for ability to explicitly manipulate a `Tim

[2015-06-27 15:13] #957 closed

[2015-06-27 20:41] ylluminate commented on #957
You're probably aware @vais: http://stackoverflow.com/a/21120901/320681

[2015-06-27 23:14] vais commented on #957
@ylluminate yep, just not sure how to integrate that with how the rest of it works. Maybe later.

[2015-07-01 17:05] cj opened #968 "Source Map Issue"
I'm having an issue with source maps not being found.

It's not getting into this statement: https://github.com/opal/opal/blob/master/lib/opal/sprockets/source_map_server.rb#L85

The regex appears to be wrong.  If it's changed to `%r{^(.*)(\.self|\.map)$}` source maps work and it gets into this block.

[2015-07-01 22:35] #832 closed

[2015-07-02 05:23] mojavelinux opened #970 "!= method not implemented on BasicObject"
The `!=` method is not implemented on BasicObject. While the `!=` expression can be used in the normal way, it cannot be sent to an object using the `send` method.

Example:

[code]

I expect the last example to return false.

[2015-07-02 05:24] mojavelinux commented on #970
It's important to note that the `!=` is also missing for Numeric objects, so this is not limited to String objects.

[2015-07-02 05:24] mojavelinux commented on #970
I tested with the latest master.

[2015-07-02 14:18] vais commented on #970
@mojavelinux lol there's no spec for this in RubySpec :smirk: @eregon please correct me if I'm wrong, this is all we got: https://github.com/ruby/rubyspec/blob/master/core/basicobject/not_equal_spec.rb, and it does not currently test for `send`-ing a `:!=` method.

[2015-07-02 14:21] elia commented on #970
In fact the current implementation translates it to `!(a == b)`… TMYK

[2015-07-02 14:41] vais commented on #970
This spec should do it: https://github.com/ruby/rubyspec/blob/master/core/basicobject/not_equal_spec.rb#L4 It was getting filtered out as unsupported. PR is on the way.

[2015-07-02 15:59] eregon commented on #970
@elia Yeah, it would be good to add a version with `send(:!=)` which would make sure such a method exists and works.

[2015-07-02 17:03] cj opened #972 "Pass Time.new issue!"
This commit https://github.com/opal/opal/commit/c55b41b1698489f8b23fa7132d40694d287cf1fa is causing an error when running opal-rspec `TypeError: 'undefined' is not a function (evaluating 'lhs['$-'](rhs)')`.

To recreate, clone https://github.com/opal/opal-rspec.  In the Gemfile, update it to look like this:

[code]

run `bundle && bundle exec rake` and you'll see the error.

[2015-07-02 20:02] elia commented on #965
We tried that, the issue seems to be with being able to pass an arbitrary number of arguments as you can't use "apply" with "new"

[2015-07-03 01:00] mojavelinux commented on #970
Fantastic!

[2015-07-03 01:34] vais commented on #972
@cj in opal/corelib/time.rb, changing:
[code]
to:
[code]
fixes the error. @elia I am not familiar with opal-rspec, but from what I have gathered from the ambient noise over time on github and gitter, it's a bit hacky? Otherwise I have no idea why calling a class method from another class method is a problem in this case.

@cj could you turn the fix above into a PR?

[2015-07-03 07:52] elia commented on #972
@vais I think it's something they do while measuring time taken, if I get some time I'll dig in to see what's happening (no guarantees tho)

[2015-07-03 22:07] ryanstout opened #973 "String#split returning a blank string in 0.8.0.rc1"
The following does not match MRI:

[code]

Thanks!

[2015-07-04 05:25] vais commented on #970
@eregon something like this? https://github.com/ruby/rubyspec/pull/91

[2015-07-04 05:53] eregon commented on #970
@vais exactly :)

[2015-07-04 09:34] #973 closed

[2015-07-04 09:43] #970 closed

[2015-07-05 21:22] cj opened #982 "to_i/to_f/to_s not behaving correctly"
Using this code in ruby http://goo.gl/gN56K0 it will be a `Float` in opal it return a 'String'.

[2015-07-06 01:31] vais commented on #982
[code]
:confused:

[2015-07-06 02:24] cj commented on #982
@vais yee, I think the issue is the way the data is getting converted to client side from the server and not opal.  I'll look into it tomorrow and re-open if need be, when I've had more than 4 hours sleep :smile:

[2015-07-06 09:15] vais commented on #982
@cj no problem. Please note that in the example you provided, val can only ever be a string because that variable is assigned to exactly once, and it is assigned a string.

[2015-07-06 11:24] elia commented on #576
@minad https://github.com/rtomayko/tilt/pull/246 has been merged! :)

[2015-07-06 12:38] vais commented on #972
@elia ok, I [search for Time.now in the opal-rspec repo](https://github.com/opal/opal-rspec/search?utf8=%E2%9C%93&q=Time.now) and maybe [this](https://github.com/opal/opal-rspec/blob/e2290d56ff5147e5a2b96258ef5bdc2b54a9e6af/vendor_lib/rspec/core.rb#L170) is the source of the problem? Not sure what to do with this... I am reluctant to "fix" it in Opal by *not* calling `Time.new` from `Time.now` and

[2015-07-06 13:49] Ajedi32 commented on #982
@cj Also, `'55.00'.to_f.to_s` is `"55"` so even if you added a `val =` before that if statement your code still wouldn't work correctly. You might want to look into using [`Kernel#Float`](http://ruby-doc.org/core/Kernel.html#method-i-Float) and [`Kernel#Integer`](http://ruby-doc.org/core/Kernel.html#method-i-Integer) instead.

[2015-07-06 14:19] vais commented on #982
[code]
[code]
:-(

[2015-07-06 14:21] vais commented on #982
`String#to_f` is the problem:
[code]
[code]

[2015-07-06 14:29] vais commented on #982
`String#to_f` is fine, actually, it's `Float#to_s` that's not conforming to RubySpec - this is a "known issue", the following specs are filtered out in spec/filters/bugs:
[code]

[2015-07-06 14:30] vais commented on #982
@cj how critical is this for you?

[2015-07-06 14:49] vais commented on #982
Hmm... since all numbers are floats in JS, I'm not sure there's anything we can do about this one, and those failures in filters/bugs I referenced above should probably find their final resting place in filters/unsupported. @meh, I believe we discussed this before - even if a distinction was made between integer and float literals at the parser/compiler level (i.e. dot blah blah becomes an instanc

[2015-07-06 14:53] meh commented on #982
@vais yeah, there's nothing we can do, in my `numeric` rework branch there was just a type `Number` that encompassed both.

[2015-07-07 08:44] vais commented on #982
Closed via https://github.com/opal/opal/pull/983

@cj if you need trailing '.0' support, try using `Kernel#format` a.k.a. `String#%` which give you complete control over Float to String conversion.

[2015-07-07 10:23] #982 closed

[2015-07-07 14:30] cj commented on #982
@vais so I wasn't crazy! :)  Thank you for looking into this.  Will do.

[2015-07-07 14:31] cj commented on #972
@vais do you still need me to create the pull request?

[2015-07-07 17:49] ryanstout opened #985 "Hash#slice"
Not a big deal, but at some point ruby added Hash#slice to select keys.  Doesn't look like its in opal.  Thanks!

[2015-07-07 18:58] Ajedi32 commented on #985
Are you sure you're not thinking of Rails?

[code]

[2015-07-07 20:08] ryanstout commented on #985
@Ajedi32 weird, I tried it in a project of mine, must have been added by a dependency (but nothing's depending on active support).  Sorry for wasting time :-)

[2015-07-07 20:08] #985 closed

[2015-07-07 20:12] Ajedi32 commented on #985
No problem. Actually, there has been some discussion regarding an equivalent to `Hash#slice` in the Ruby core, but so far it doesn't look like anyone's been able to come to a consensus on what to name the method: https://bugs.ruby-lang.org/issues/9108

[2015-07-08 00:30] vais commented on #972
@cj not sure - see my comment to @elia above. Whatever rspec is doing should be do-able without making this change to `Time` - it is a sign of another problem in Opal.

[2015-07-09 13:18] #968 closed

[2015-07-09 17:05] bbatsov opened #989 "Adopt a consistent code style"
Hey everyone,

Lately I've been browsing the source of the project to get some familiarity with it and I'm constantly distracted by the intermixed coding styles that are currently used. What do you think about adopting a consistent style and enforcing it automatically with RuboCop?

If so - let me know if you'd like something to be setup differently than in the default config.

[2015-07-09 17:42] meh commented on #989
I used to be the janitor keeping the style consistent, but I usually do it once a year or something, and the time hasn't come yet, but we've had a surge of huge contributions, so that hasn't been done.

I'll check out RuboCop later tonight to see what the default config does.

[2015-07-09 22:32] ryanstout opened #990 "Stack trace issue with yield and return"
So I finally got opal 0.8 running on volt (yah!), and I'm seeing this issue with stack traces when I have a method that yields and return inside of the yield.  If I call #run_something in the below:

[code]

This will show the error as coming from #run_something (at the line with it's def) instead of the raise.

Thanks!

[2015-07-09 22:32] elia commented on #989
Hey @bbatsov I meant to reply when you asked the other day but waited to have the time for a thoughtful comment which of course never came 😖 sorry

@meh I'll post the config we kinda use at work to show my prefs.

Anyway I don't like very much the idea of enforcing it (like failing the build or auto-correcting). I'd rather prefer to have it as a warning but I don't know how that can be achieved (e

[2015-07-09 22:39] meh commented on #989
@elia yeah, I'd rather have warnings too.

[2015-07-09 23:05] elia commented on #990
Do you get the same stacktrace disabling source maps?

[2015-07-09 23:09] ryanstout commented on #990
@elia yea, I should have checked that.  Same issue without the sourcemaps.  So its the error object giving the wrong stack trace.  (Maybe being caught and rethrown as a new error?)

[2015-07-10 07:52] elia commented on #990
@ryanstout that's kinda good news, not having to debug sourcemaps :)

I think your hunch is correct, I think this is one of those cases where exceptions are used for control flow

[2015-07-10 12:23] vais commented on #989
:+1: for automated quality control. For what it's worth, I'd be fine for it to fail the build - it should be run as part of `bundle exec rake` anyway (like JSHint does now). Making it optional kinda defeats the purpose :confused:

[2015-07-10 12:50] elia commented on #989
The main difference as I see it is that Rubocop is more about code style than checking against possible pitfalls (where JSHint does the opposite).

As avdi pointed out in [his recent post](http://devblog.avdi.org/2015/07/08/ruby-is-defined-by-terrible-tools/):

I think that would be great.

Back on Rubocop maybe having the option to whitelist checks instead of patching the default config would be

[2015-07-10 13:25] Ajedi32 commented on #989
Doesn't [CodeClimate](https://codeclimate.com/github/opal/opal) have style checks? Their homepage seems to say they do.

[2015-07-10 13:34] bbatsov commented on #989
@Ajedi32 They use RuboCop internally. :-)

HoundCI is another similar tool that uses RuboCop and adds comments to problematic sections of PRs. I think @elia will like this. :-)

At any rate, the project still needs a RuboCop config for those to work. They also have config formats of their own, but I'd rather go with something that contributors can use locally as well.

[2015-07-10 13:35] bbatsov commented on #989
`rubocop --lint` :-) This finds plenty of real problems with the code, trust me about it.

[2015-07-10 15:19] elia commented on #989
I think this is what I was looking for! Didn't know about that :)

That's the cool thing about having the author (:sunglasses:) in the conversation.

_Checking out Hound CI in the meanwhile_

[2015-07-10 16:16] bbatsov opened #991 "Duplicated method definition in NodeJSFormatter"
https://github.com/opal/opal/blob/432552860fa41f83ea0a16b3dbea59cf50401c2b/lib/mspec/opal/runner.rb#L174

Not sure which one should I remove.

[2015-07-10 16:19] #991 closed

[2015-07-10 16:20] elia commented on #991
The last one was the one actually used, thus the right one

[2015-07-10 16:20] Ajedi32 commented on #991
Well, in Ruby the last method definition would be the one that is actually used, so you should be able to remove the first one without changing any behavior.

No idea whether "not changing the behavior" is the correct thing to do or not in this case though, as it's certainly possible this could be a bug.

[2015-07-10 19:09] dancinglightning opened #992 "<<self bug"
Moi,
found a strange bug when some code i try to use is trying to meta-program.

    class <<self ; self ; end

fails, while

    class << self ; self ; end

works fine. You really have to read that twice to catch it: it is the space after <<
Without it boom, with it, fine.
beats me, but there it is.

[2015-07-10 23:09] ppibburr opened #993 "attribute named `constructor` in `Class#` causes issues when using `Class#define_method`"
[code]

[2015-07-11 06:50] dancinglightning commented on #992
Just stumbled across another one, you choose if it is related. I put it here as it has the << in it too, though maybe it's more the |= , but anyway parsing.

    val |= (12 << 16)

breaks, while the version where one spells it out works

    val = val | (12 << 16)

[2015-07-11 06:54] vais commented on #993
So, in `Module#attr_reader` and `Module#attr_writer` (https://github.com/opal/opal/blob/master/opal/corelib/module.rb#L114), we have this:
[code]
Since in this case `name` is `'constructor'`, the code above is the same as `proto['constructor']  = nil;`, which is the same as `proto.constructor = nil;`, which is then followed by:
[code]
In other words, we set `proto.constructor` to `nil`, then try t

[2015-07-11 06:59] vais commented on #992
@dancinglightning what error are you getting? I have this:
[code]

[2015-07-11 07:17] vais commented on #990
@elia what's happening is when there's a `return` inside a block, the contents of the block are wrapped in `try {....} catch ($returner) {....}` so that in `catch` we can compare the `$returner` object with `Opal.returner`. If they are equal, it means `return` was executed inside the block, so we return the value attached to the `$returner`. If they are not equal, it means this is an exception, so

[2015-07-11 07:41] elia commented on #990
To add on that I think stacktrace Apis are quite different across browsers if existent at all. But that could be outdated knowledge.

[2015-07-11 08:10] dancinglightning commented on #992
I assigned the val to 1 before
But more importantly i am on 0.7.2 , sorry i didn't mention that.
but i tried with the release candidate and still get

parse error on value "(" (tLPAREN2) :main:10
Source: main:10:12
    val |= (12 << 16)

[2015-07-11 08:52] vais commented on #992
@dancinglightning I see now... It parses without a problem as long as that statement is parsed alone, as is the case in opal-repl, or simply putting it by itself in a file and running that. As soon as there's more ruby around it, it fails. Bizarro. If you don't mind, please submit this as a separate issue with minimal sample code to repo the error.

[2015-07-11 09:06] vais commented on #972
The deeper issue seems to be with either `Module#define_method` or `Method#to_proc` (or both). Here is an example that demonstrates the problem:
[code]
Here is what happens when executed on MRI:
[code]
And here is what happens when executed on Opal:
[code]
Note that `self` is different between MRI and Ruby, and that's the cause of the problem. In MRI, `self` still points to the original class from

[2015-07-11 11:15] dancinglightning opened #995 "parser bug"
require "opal"
    class Game
      def initialize
        val = 1
        val |= (12 << 16)
      end
    end

parse error on value "(" (tLPAREN2) :main:5
Source: main:5:12
    val |= (12 << 16)

opal 0.7.2   ( but tried also 0.8.0pre1)  ruby 2.1.5 , chrome 43 on mac (latest)

[2015-07-11 11:16] dancinglightning commented on #992
ok, #995

[2015-07-11 12:42] dancinglightning opened #996 "StringScanner exist? is missing"
I tried a simple

    def exist?(reg)
      nil != check(reg)
    end

but that didn't seem to do the trick.

[2015-07-11 12:56] vais commented on #996
Yep, https://github.com/opal/opal/blob/master/spec/filters/bugs/strscan.rb#L22-L24

[2015-07-11 13:00] elia commented on #993
There's a list of js keywords somewhere which get special treatment (iirc they get a $ appended) and probably an helper in the compiler to automatically detect them.

Can't check now (from mobile) but would be interesting to see how an ivar named @class or @function is translated.

[2015-07-11 13:07] vais commented on #993
Oooh, @elia, when you get a chance to dig around, please post back here!

[2015-07-11 14:18] rubydesign opened #997 "source map documentation issue"
Just learning about source maps and read this : http://opalrb.org/docs/source_maps/

which maybe should point to the rack example as it is the simplest way to get up (or both)

And in the rack example (and above docs) it should mention the debug and sourcemap flags, which seem a much simpler way to achieve the result than in the sinatra example.

[code]

And i am not sure if this is an issue, but

[2015-07-11 15:47] elia commented on #972
I still forget every time the difference between proc and lambda 😔

Also…

🐢
🐢
🐢
🐢
🐢
🐢
🐢
🐢
🐢
🐢
🐢
🐢

[2015-07-12 08:28] vais opened #1001 "Array#&, Array#|, Array#-, Array#uniq, and Array#uniq! are fast and... wrong"
`Array#&`, `Array#|`, `Array#-`, `Array#uniq`, and `Array#uniq!` all use a JavaScript object as a poor man's hash, storing and looking up array items as **keys** in that "hash".

I've been reluctant to change this for performance reasons, but this reminds me of the saying that code can be made infinitely fast as long as you are willing to accept an incorrect result.

@elia, @meh, @adambeynon any i

[2015-07-12 09:03] elia commented on #1001
We need to measure 🕙
We might discover that it's not that bad to do the right thing

[2015-07-12 09:11] vais commented on #1001
@elia don't hold out on me, I can't take the suspense.... what **is** *the right thing* to do?!

Joking aside, do you think we should try to use Opal's `Hash` instead? What do you have in mind?

[2015-07-12 09:34] elia commented on #1001
😅

Yes, if a benchmark using Hash instead of the JS object gives acceptable perf difference we can _fix all the things_!

[2015-07-12 09:38] vais commented on #1001
:smile: Ok, @elia, I will give that a shot! I really can't live without my `Array#uniq` :stuck_out_tongue_winking_eye: In fact, I use all of the above methods in Ruby regularly, so the thought of them kinda-maybe-working in Opal makes me really uncomfortable.

[2015-07-12 14:06] vais opened #1003 "true.eql?(true) #=> false"
[code]
:stuck_out_tongue_winking_eye:

[2015-07-12 14:31] vais commented on #1003
@eregon could really use your advice on this one. I cannot find any spec in RubySpec that would catch this bug. Any ideas where/how to add a spec for the correct behavior of the `eql?` method on booleans?

[2015-07-12 14:33] vais commented on #1003
@elia I already have a fix for this issue, but I don't want to push it without a spec to lock it down. Let's see what @eregon tells us...

[2015-07-12 14:57] eregon commented on #1003
@vais Good catch!
[code]
So this should be specified in `Kernel#eql?`.
`Kernel#eql?` is an alias of `BasicObject#equal?` (and  `BasicObject#==` is another alias).
All these specs should be shared therefore, and some cases with true/false are already specified in `core/kernel/equal_spec.rb`, which is the wrong location (there is no such method) and should move to `core/basicobject/equal_spec.rb`.

[2015-07-12 15:27] eregon commented on #1003
@vais Should be fixed with https://github.com/ruby/rubyspec/commit/52d82de0eff77db811a6800145f6456c178e595a, please confirm :)

[2015-07-13 01:31] vais commented on #1003
Thank you, @eregon, the new specs do catch the bug in Opal, so now we can work on a fix! Thanks again for the quick turnaround!

[2015-07-13 12:10] dancinglightning commented on #996
hmm, maybe a miscommunication: This bug stops me from running my app.

It wasn't a point about opal not being compliant, just stops mew working.

[2015-07-13 12:30] vais commented on #996
Sorry @dancinglightning, that method is not implemented. I was simply pointing out the failing spec. See https://github.com/opal/opal/blob/master/CONTRIBUTING.md :wink:

[2015-07-13 13:25] Ajedi32 commented on #1001
FYI, JavaScript does have a native implementation of Hash called [`Map`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map). Unfortunately, browser support for `Map` isn't very mature yet. All of the latest browsers support it, but only the very latest. (E.g. IE10 doesn't support it, but IE11 does.)

[2015-07-13 13:44] #1003 closed

[2015-07-13 13:47] Ajedi32 commented on #972
@vais

That's actually not true. See [`Object#method`](http://ruby-doc.org/core/Object.html#method-i-method):

[UnboundMethod](http://ruby-doc.org/core/UnboundMethod.html) is something entirely different:

So yeah, pretty complicated...

[2015-07-13 13:59] vais commented on #972
@Ajedi32 so, then what does `&::Lender.method(:xyz)` mean, exactly? My understanding is that the `&` prefix is the same as calling `to_proc` on the return value of `method`. Maybe this is where I'm getting confused? Because if it does call `to_proc`, we are no longer dealing with a method object, but with a proc. Hence I do not understand how it still maintains connection to the original class now

[2015-07-13 14:16] Ajedi32 commented on #972
Well, I'm not very familiar with C or the Ruby code base, but the comment in the source here seems clear enough:

No idea how accurate that is (might not really be an exact equivalent), but seems to me like it's just wrapping `call` in a proc and returning that.

[2015-07-13 14:23] vais commented on #972
@Ajedi32 you are more familiar with the Ruby code base than you give yourself credit for :smile: Thanks for pointing this out - makes total sense now! I was actually trying to do something very similar with Opal's `Method#to_proc`, which actually fixed this issue, but broke other specs. Now this gives me some motivation to pursue that line of inquiry further...

[2015-07-13 21:17] Sebbyastian opened #1006 "Racially charged issues"
This is a continuation of the discussion started in #942 ...

I've found a number of references such as "master" and "yield" which should be removed from this project to prevent racially oppressive emotions and flame wars.

[2015-07-13 21:22] meh commented on #1006
Those terms have a specific context and well established meaning.

[2015-07-13 21:22] #1006 closed

[2015-07-14 06:35] #1001 closed

[2015-07-14 07:43] elia commented on #966
Closing as stale, feel free to ping me to reopen.

[2015-07-14 07:43] #966 closed

[2015-07-14 10:26] vais opened #1007 "Proc object returned from `Method#to_proc` is not bound to method's receiver"
[code]
[code]

[2015-07-14 12:32] dancinglightning commented on #230
great that this works.
The reason i comment is just that i had to google after my code went Boom.
eval is after all in Kernel in ruby, ie no require required.
Don't know where, but somewhere in the docs it should mention.

[2015-07-14 13:25] Ajedi32 commented on #230
In addition to documentation, couldn't we also:

[code]

[2015-07-14 13:27] kung-fu-tzu commented on #230
:+1: for a warning in `Kernel#eval`.

[2015-07-14 14:10] dancinglightning commented on #230
sounds like a very good suggestion

[2015-07-14 15:49] vais commented on #230
@Ajedi32 sounds like a PR just waiting to happen :wink:

[2015-07-14 15:55] Ajedi32 commented on #230
@vais Heh. Yeah, I really should get a dev environment for Opal set up on my PC so I can start making these changes directly instead of just suggesting them in comments. :laughing:

[2015-07-14 15:56] elia commented on #230
@Ajedi32 ask at will if you need help while doing the setup :)

[2015-07-14 15:57] vais commented on #230
@Ajedi32 it's super easy, just follow https://github.com/opal/opal/blob/master/CONTRIBUTING.md#quick-start and let me know if you have any questions.

[2015-07-14 15:58] vais commented on #230
@elia beat me to it :) We are a super-eager-to-help bunch :stuck_out_tongue_winking_eye:

[2015-07-15 05:30] ryanstout opened #1009 ".curry on Proc and Method"
I've started to use this more and more in my code.  No worries though, I'm sure you guys have better things to work on.

http://ruby-doc.org/core-1.9.3/Proc.html#method-i-curry

Thanks!

[2015-07-15 09:16] makc commented on #1006
Did not stop [these guys](https://github.com/django/django/pull/2692)

[2015-07-15 14:20] elia commented on #965
Actually I don't remember if we tried this: http://www.bennadel.com/blog/2291-invoking-a-native-javascript-constructor-using-call-or-apply.htm :grin:

[2015-07-16 02:44] #972 closed

[2015-07-16 02:44] #1007 closed

[2015-07-16 02:44] #992 closed

[2015-07-16 22:51] #1009 closed

[2015-07-17 12:08] svoboda-jan opened #1012 "Code not executed in v. 0.8.0"
Hi,

I tried Opal `0.8.0` in my Rails app and noticed that instead of executing transpiled code inside anonymous JS function it just adds it to `Opal.modules`, but doesn't seem to be actually calling it from anywhere.

In `0.8.0` I have to add a script with `Opal.modules["application"](Opal)` to make the same code from `0.7.1` work. Is that a known / intended behaviour ?

[code]

[code]

[2015-07-17 17:39] elia commented on #1012
Basically for the loading to be handled by opal-rails you need to switch from application.js to application.js.rb and use ruby requires.

Otherwise you need to handle the initial loading yourself with either

      Opal.require("your-module");

or

      Opal.load("your-module");

_Ping me to reopen if needed_

[2015-07-17 17:39] #1012 closed

[2015-07-17 21:55] svoboda-jan commented on #1012
Thanks,

I was using `.js.rb` and ruby requires, but not the `opal-rails` gem. (befause of version flexibility with the `opal` gem)

I found the reson it stopped working:
https://github.com/opal/opal-rails/commit/0251a8ea9c0273383720022c9227a25031021b1b

So the change is that using opal with rails now requires loading code.

[2015-07-17 22:12] elia commented on #1012
Exactly, and if you want you can use
      Opal::Processor.load_asset_code(sprockets, source)

directly, which will take care of marking bon Opal files and stubbed files as already required.

[2015-07-18 06:03] vais opened #1013 "Hash ignores object equality"
According to the docs (http://ruby-doc.org/core-2.2.0/Hash.html#class-Hash-label-Hash+Keys), in Ruby:

So, let's try this in `pry`:
[code]
You can see that objects that have the same `hash` but are **not** `eql?` to each other, *both* show up in the hash, whereas objects that **are** `eql?` to each other are added to the hash only once (last one wins).

Now let's try this in Opal:
[code]
In Opal,

[2015-07-18 07:19] vais commented on #1013
Which is covered in RubySpec and is currently in `filters/bugs/hash.rb`, so we'll get to it eventually :smile:
`fails "Hash#[]= stores unequal keys that hash to the same value"`
[code]

[2015-07-19 11:19] bbatsov commented on #997
I think you should just fire up a PR to the documentation. Your suggestion seems super reasonable to me, as I've wondered myself what's the simple way to experiment with source maps.

[2015-07-19 11:21] bbatsov commented on #956
Seems to me this will be a worth-while endeavour down the road, when WebAssembly is better established. Right now we should probably be focused on compiling to JS only.

[2015-07-19 11:23] bbatsov commented on #663
I think the title should say "splat". :-)

[2015-07-19 14:20] dancinglightning commented on #997
Well @bbatsov that is a fair point. I'm sure though someone with commit rights could fix both.
I was talking about the actual rack example in this repo.

Which btw has no readme

[2015-07-19 14:27] AstonJ opened #2001 "Documentation suggestions for Opal"
What do you think Opal docs should cover?
#### Here are some initial thoughts/suggestions:
- Introduction (what is Opal? What can you do with it? What can't you do with it? Why should you use it? etc) (page)
- Setting up Opal (page)
- Setting up Opal in a project (such as in Rails, in Sinatra, and other popular f/works) (page or two)
- The basics of Opal (chapter)
- Using Opal to do things that yo

[2015-07-20 04:33] Ajedi32 opened #1018 "`bundle install` fails on master"
So I'm trying to get a basic development environment set up on my laptop, and ran into the following error while trying to run `bundle install`.

[code]

Normally I'd resolve this with a `bundle update` as suggested in the error message, but that would change the dependencies in `Gemfile.lock`, and I'm not sure it's a good idea to do that without first understanding why I'm getting this error in t

[2015-07-20 05:39] elia commented on #1018
Look more like an issue with bundler. I do bundle update regularly when developing gems, if something brakes it's a bug as people installing the gem for the first time will have similar similar results.

Also be sure bundler is updated.

Closing as not strictly related to Opal and because I don't think I can do much.

[2015-07-20 05:39] #1018 closed

[2015-07-20 06:37] vais commented on #1018
@Ajedi32 that's strange, considering that `Gemfile.lock` is **not** part of Opal repo at all. So, this `Gemfile.lock` may be there from you doing `bundle install` before.

Start from scratch - clone the repo, then do `bundle install`, and all shall be fine.

P.S. I just confirmed on my Windows XP VM, everything is a-ok:
[code]

[2015-07-20 16:19] Ajedi32 commented on #1018
[Ah!](https://github.com/opal/opal/blob/master/.gitignore#L5) :flushed: Yeah, I was working from an old checkout of Opal. Didn't notice that `Gemfile.lock` wasn't actually in the repo. A `bundle update` should do the trick then...

[2015-07-20 18:31] ryanstout commented on #663
@bbatsov thanks, typo

[2015-07-22 10:26] ashes999 opened #1019 "JS Library Integration (Example?)"
Hi,

Other than jQuery, which has its own `opal-jquery` gem, how do I go about integrating with other, pure Javascript libraries, with Opal?

For example, if I wanted to use CraftyJS, I want to call JS methods like `Crafty.c(...)` or `Crafty.e(...)`. It's not clear from the docs or the existing issues how I would go about doing that, or if I need to create wrappers or something else before this wo

[2015-07-22 11:46] gabrielrios commented on #1019
You can call JS from Ruby using backticks(`) http://opalrb.org/docs/compiled_ruby/#javascript-from-ruby

Or you can use the native module for simple wrapping http://opalrb.org/docs/compiled_ruby/#native-module

[2015-07-22 13:43] ashes999 commented on #1019
@gabrielrios since there are two options, can you suggest which to use, or what the differences are?

Is it sensible (or is it wasteful) to create Ruby objects with methods that just wrap backtick-calls?

[2015-07-22 13:53] Ajedi32 commented on #1019
@ashes999 That's what Native does. The way I see it, there are three levels of integration possible here:

1. Backticks
  - Quick and dirty.
  - Necessary in some situations (especially situations sensitive to performance).
  - A bit like writing inline assembly code in C.
2. `Native`
  - A quick way to wrap a JavaScript object and use it in Ruby.
  - Good for typical usage, or when a Ruby wrapper

[2015-07-22 13:53] gabrielrios commented on #1019
I think using Native is better, as your code looks better that way.
This is exactly what libraries like opal-jquery does.

So if you're using things on just one place you might want to just use Native module directly, but wrapping on ruby objects is a better long-term solution

[2015-07-22 13:56] ashes999 commented on #1019
If this can be documented somewhere, that would be fantastic, as it clearly identifies the trade-offs.

@Ajedi32 can you explain how backticks is a better option for performance-sensitive code? Roughly what kind of performance hit are we taking when we use native or wrapper libraries? (Also, please clarify if wrapper libraries means something other than what I described -- Ruby classes with method

[2015-07-22 14:07] vais commented on #1013
@eregon sorry to bother you with another Opal issue - I'm working on `Hash`, and there are a few specs that I really want Opal to be able to run, but since they rely on Integer and Float not being `eql?` to each other, I cannot run them under Opal (i.e. there is no distinction between `1` and `1.0` whatsoever in Opal). In all of the three cases below, I feel `1` and `1.0` were chosen for convenien

[2015-07-22 14:08] dancinglightning opened #1020 "rack example broken"
The rack example includes an index.html.erb, but does not in fact use it.

Since there is no readme and it states in other places that this index approach is the way to go, it seems natural for a beginner to assume the index.html.erb generates the loaded page.

It does not, as the title of the page gives away.

Some digging reveals that one has to set the index_path to the index file name and that

[2015-07-22 14:31] vais commented on #1020
@dancinglightning could you send a PR to fix this please?

[2015-07-22 14:34] eregon commented on #1013
Indeed, 1 and 1.0 are just convenient objects that are `==` but not `eql?`.
Using mocks would be more appropriate for this like:
[code]

If it feels to verbose you could have them in a helper (`HashSpecs.new_key` ?) in https://github.com/ruby/rubyspec/blob/master/core/hash/fixtures/classes.rb.

[2015-07-22 14:43] vais commented on #1013
Sweet, thanks, @eregon, this helps!

[2015-07-22 14:57] Ajedi32 commented on #1019
@ashes999 It's not a serious hit. Pretty much analogous to using inline assembly in C. You get better control over the code generated, so you can do a lot of manual optimisation to make things run faster. I think you also save one method dispatch per call (you call the method directly, instead of calling the wrapper object which then calls the method).

In that remark about performance I was speak

[2015-07-22 14:58] dancinglightning commented on #1020
Hi Vais,
maybe we can later talk on gitter (maybe with elia).
I had thought about sending the fix, but this is really a project culture issue. I mean this is not a bug so much as a "i don't care", especially given the amount of these documentation issues i've been running into.
So i don't really want to clean up after, but if there is a project census, i would be willing to help with documentation

[2015-07-22 15:25] Papierkorb commented on #796
Any update on this? I'm also interested in using Module#prepend on my end. (And thanks for Opal!)

[2015-07-22 16:37] vais commented on #1020
Well, @dancinglightning, this project is as much *yours* as it is mine :wink: The only difference is the number of hours put in so far (all of which I put in for no other reason than to learn and have fun, and specifically *not* to deliver *a product* for anyone - I do enough of that *at work*). So, there's no one else to do this stuff if not you, me, and any other *you-me*'s (new word!) who care

[2015-07-22 17:20] vais commented on #1013
Ok, @eregon, something is weird here, and I can't figure out what. I'm loosing faith in computing, help!

I was playing with this spec (https://github.com/ruby/rubyspec/blob/master/core/hash/element_reference_spec.rb#L68), trying to convert it to using mocks, but it was not behaving as I was expecting it to, so, in the end, here is what I came up with do demonstrate the problem:
[code]
And it pass

[2015-07-22 17:36] elia commented on #1013
Dumb question, if the hash of k1 and k2 doesn't match why should it compare them with == === or eql? ?

[2015-07-22 18:00] eregon commented on #1013
Exactly, as @elia said, if the `#hash`-es do not match, then there is no need to call `eql?`.
So in this case you might want to stub `#hash` to make sure they are the same.

[2015-07-22 18:06] dancinglightning commented on #1020
@vais Is that what they call a euphemism (i'm not english). This is certainly not my project, i don't even have commit rights.
This https://github.com/rubyclerks/ or this https://github.com/salama/ are projects i own / run, and assume responsibility for, because i wrote them.

These issues are a way a newbie can participate. And your rebuff is a way to stop newbies from wanting to.

So do you want

[2015-07-22 18:11] eregon commented on #1013
@vais BTW, it seems the 3 specs below already specify this behavior via mocks.
Therefore I would either remove the spec above or tag it as unsupported for Opal.

This kind of specs using core objects properties tend to be useful to catch related problems and to show what a typical Ruby user might expect, so I think there are worth keeping.
Unfortunately I am not aware of other core types which are

[2015-07-22 18:12] elia commented on #1020
I do care, but lack the time. The project could use some documentation help. For the examples the best thing I can think about is to fail the build if they're outdated.

As for what @vais said I agree 100% in the sense that everyone does its best and no one has any obligations.

Also let me say that any conclusion about people's intentions drawn from some code is probably inaccurate.

[2015-07-22 18:27] dancinglightning commented on #1020
@elia i have heard you and vais care about documentation, and that is why i suggested we chat. Because only when you see the problem (not just symptoms) can you address it.

Lack of time is never a reason, only ever an excuse. Imagine you want to go somewhere, and you can take the car or walk. Walking will be slower. You might not have the time to walk.
But the direction is not influenced by which

[2015-07-22 19:35] Ajedi32 commented on #1020
I think what @dancinglightning is trying to say is that he believes the problems with documentation in Opal are systemic. E.g. Not enough emphasis is being given on updating documentation as part of the development process, therefore the docs will always be outdated. Is that correct, @dancinglightning?

If so, I'm not sure I agree the problem is that widespread. Relatively speaking, I think the do

[2015-07-22 19:45] Ajedi32 commented on #1020
Also, just a suggestion, but I think it's worth noting that when you're new to a project, going to the project maintainers / management / coworkers / whoever claiming that the project has systemic problems and demanding change usually isn't well received, regardless of whether or not you're right. I've found that a much better approach is to instead being to instigate change yourself, a little at

[2015-07-22 22:24] elia commented on #1020
Yes, I confirm that the "i don't care about you" is a bit off putting and unjust, whoever wrote whatever code did care enough to write the said code. I'm grateful there's an example folder with actual example code that I can use [and fix](https://github.com/opal/opal/commit/1fb1d45be7602f1e24d42fc338ee510af45834c0) if I have the time to do so.

@dancinglightning help is accepted in any form (in fa

[2015-07-23 00:56] catmando opened #1021 "Array constant does not equal object of array type"
[code]

(this is with version 0.8)

This happens AFTER the include of fairly complex module (react.rb)  before the include everything is fine.  Also outside of the class doing the include everything is fine.

On examination in the debugger the constant Opal.Array seems to have changed to some new value.

I have tried to narrow down where the problem begins, but its very difficult.

Any clues how t

[2015-07-23 02:36] catmando commented on #1021
a module deep down was including Native (not sure why) but that was causing all this

[2015-07-23 02:36] #1021 closed

[2015-07-23 07:44] dancinglightning commented on #1020
Well i was obviously slightly upset yesterday, sorry.
The pr is #1022
I'll close this attempt at communication gone wrong.

[2015-07-23 07:44] #1020 closed

[2015-07-23 16:15] ashes999 opened #1023 "Calling methods on JS objects prefixes "$", resulting in "not found" errors"
I'm working on wrapping CraftyJS with Opal. I have some methods that return pure JS objects. One such example is `return Crafty.e('2D Canvas Fourway')`.  This object has a `.fourway` method I can invoke in Javascript.

Here's the code I want to write:

[code]

I get an error that `self.e.$fourway is not a function`.

The solution is to write (terrible?) code like:

[code]

This is worse with objec

[2015-07-23 16:30] gabrielrios commented on #1023
You probably want to make `Crafty.e` return a Native object. Something like this

[code]

[2015-07-23 17:25] ashes999 commented on #1023
That's excellent, thanks. It works.

[2015-07-23 17:25] #1023 closed

[2015-07-23 18:35] ashes999 opened #1024 "(for x in hash) adds 300+ OpalClass instances to hash"
Continuing my ongoing saga of integrating Opal with CraftyJS, I've run into a problem I can't solve.

CraftyJS has a function which pre-loads images and audio files. Here's an example of what you can pass in:

[code]

Let's call the hash `data`. As part of it's loading process, it uses code like:

[code]

With Opal, I tried first sending in a Ruby hash and letting Opal convert it; I was getting a

[2015-07-23 18:48] ashes999 commented on #689
Can this be documented somewhere? There's no link to `native.min.js` on the main website, or on GitHub either. I ran into this today and only found this by searching GitHub.

[2015-07-23 18:56] Ajedi32 commented on #1024
My guess is you'd have to use `Hash#to_native` or something? That doesn't seem to be documented anywhere though either, is it?

[2015-07-23 19:00] Ajedi32 commented on #1024
Maybe some RDoc comments could be added to <https://github.com/opal/opal/blob/master/stdlib/native.rb#L489-L520>? Then we'd just need to use them to generate HTML and host them them somewhere.

[2015-07-23 19:42] ashes999 commented on #1024
@Ajedi32 that solves the "outer" problem (`data` has only two things). The problem is that `data[type]` (`Array` instance -- eg. `data[images]`) still has the additional 300 objects in it.  I need to create a recursive structure with `to_n` all the way through.

Is this possible?

[2015-07-23 20:14] elia commented on #1024
@ajedi32 yes, actually there's already a place for that kind of docs at http://opalrb.org/docs/ under "API documentation". It's unfortunate that for some reason Native isn't covered and we need to fix that.

As of the array to_n should call to_n on all its elements, if it doesn't let me know and we'll ask @meh to fix it 😊

[2015-07-23 20:36] ashes999 commented on #1024
@elia I confirmed this by testing. Here's a minimal example that should reproduce it:

Ruby:
[code]

JS:
[code]

`count` is 300+.

[2015-07-23 20:40] ciafwywcoc commented on #945
I've written a very appropriate code of conduct. I think it should be implemented by all pen source projects. Stat! ;)
https://github.com/ciafwywcoc/ciafwywcoc/blob/master/CODE_OF_CONDUCT

[2015-07-23 21:01] gabrielrios commented on #1024
I have hit this issue in the past #680

I guess that's because how Array works in Opal, being a toll-free bridge to JS Array, it has all those properties so the same object can be used on both JS and Opal code.

I know that probably blaming Crafty on this isn't exactly the solution, but I think iterating on a array using `for .. in ..` isn't recommended, and one should use `for .. of` (https://dev

[2015-07-23 22:31] elia opened #1026 "Update mspec runner to phantomjs 2"
That given the number of random crashes we're getting lately on travis.

cc @vais

[2015-07-23 22:49] cpancake commented on #945
@ciafwywcoc get over it

[2015-07-24 06:26] elia commented on #1020
Respect 👍🏼

[2015-07-24 18:40] ashes999 commented on #1024
I've confirmed that they've fixed this on the CraftyJS side. For anyone reading this, you need Crafty 0.6.4 or greater for this to work. (That release doesn't exist yet, so I'm using a custom dev version.)

Thanks for educating me about `for .. in` and `to_n`. There's lots to learn :)

[2015-07-24 18:40] #1024 closed

[2015-07-24 19:30] Ajedi32 commented on #1024
Should Opal be defining enumerable properties on the arrays returned by `to_n`? Seems to me that might be the real issue here. On the other hand, I believe it's recommended to use `hasOwnProperty` when using `for ... in` anyway. I don't really know...

[2015-07-24 19:33] ashes999 commented on #1024
@Ajedi32 Do you want me to open an issue for that? Or to re-open this issue and clarify that when I have a hash with arrays, `hash.to_n` doesn't recursively call `to_n` on the arrays?

[2015-07-24 19:34] Ajedi32 opened #1027 "Missing API documentation for Native"
Opal is currently missing API documentation for the `Native` class. This should be added.

----

This issue was created in response to the following conversation in issue #1024:

@ajedi32:

@ajedi32:

@elia:

[2015-07-24 19:35] Ajedi32 commented on #1024
@ashes999 It's probably cleanest to open a new issue for that IMO. Or instead you could just edit this issue to more accurately reflect the problem. Either way is fine.

[2015-07-24 19:41] ashes999 commented on #1027
To clarify the last comment cited by @elia above, I have code like:

[code]

`hash.to_n` gives me back a hash object that doesn't include the Opal bridge properties (around ~300 properties, mostly starting with `$`).  However, the two arrays I get back still do have those same Opal properties.

This caused problems in #1024, because CraftyJS iterates via `for x in hash`. (They support a number of

[2015-07-24 19:42] ashes999 commented on #1024
@Ajedi32  I've up dated your issue to describe the issue in detail. Let me know if you want me to do anything else.

[2015-07-24 20:11] Ajedi32 commented on #1027
This particular issue is about adding API *documentation* for the `Native` class. Fixing any incorrect behavior is a related but separate issue, IMO.

[2015-07-24 20:12] Ajedi32 commented on #1024
Oops, sorry. Guess I wasn't clear enough. By "this issue" I meant the one we're posting comments on right now (which you actually have the ability to edit, not just comment on), not the one I just created and linked to this issue.

[2015-07-24 20:23] ashes999 opened #1028 "to_n isn't recursively called on arrays within a hash"
Originally found in #1024 . If you have a hash with arrays in it, `to_n` removes the Opal class instances from the hash, but not the arrays.

[code]

Calling `hash.to_n` gives me a hash with only two properties; but the two arrays each have Opal class instances in it.

This broke CraftyJS, because they iterated over this hash like so:

[code]

The solution was to use `hasOwnProperty`, which [they

[2015-07-24 20:23] ashes999 commented on #1027
Okay, I've created #1028 .

[2015-07-24 20:41] Ajedi32 commented on #1028
This is strange, because it seems `Hash#to_n` [actually does call `to_n` recursively](https://github.com/opal/opal/blob/master/stdlib/native.rb#L510-L512). Not quite sure what the problem is. Does Opal monkey patch the native array object or something? I don't really have Opal running on the PC I'm using right now so I can't easily debug and find out.

[2015-07-24 20:45] ashes999 commented on #1028
@Ajedi32 I've codified my example; [try it on opalrb.org](http://opalrb.org/try/?code:hash%20%3D%20%7B%0A%20%20%3Aimages%20%3D%3E%20%5B%27one.png%27%2C%20%27bg.png%27%5D%2C%0A%20%20%3Aaudio%20%3D%3E%20%5B%27point.ogg%27%5D%0A%7D.to_n%0A%0A%60for%20(key%20in%20hash)%20%7B%20for%20(item%20in%20hash%5Bkey%5D)%20%7B%20console.log(%22Item%3A%20%22%20%2B%20item)%3B%20%7D%20%7D%60)

[2015-07-24 20:54] elia commented on #1028
Array is a bridged class (as String, Proc & others) which means that Opal methods are added to their prototype directly.

Array will call to_n on its items but can't produce an array without the methods on its prototype which means that the fix to craftyjs is the only way (I know) to deal with this issue, and of course is also a good practice :)

[2015-07-24 20:55] ashes999 commented on #1028
Okay. I'll close this @elia .

[2015-07-24 21:27] ciafwywcoc commented on #945
I'm not only over it, I'm all over it. On top of the wold really. :)

But seeing nether you nor I contributed to Opal yet, I'll just follow my own COC and GTFO. I just hope the unhelpful politically motivated bullies (the POMOB) do the same.

[2015-07-24 23:41] Ajedi32 commented on #1028
[I've reduced the problem even further](http://opalrb.org/try/?code:%60%0Aarr%20%3D%20%5B%27one.png%27%2C%20%27bg.png%27%5D%0A%0Afor%20(item%20in%20arr)%20%7B%20console.log(%22Item%3A%20%22%20%2B%20item)%3B%20%7D%0A%60%0A).

IMO this is something that should be addressed. These properties shouldn't be enumerable. [Other properties on the array prototype aren't](http://opalrb.org/try/?code:%60%0Aar

[2015-07-25 01:40] ashes999 commented on #1028
@Ajedi32 I don't see how that's the same problem. You're not calling `to_n` on your array.

[2015-07-25 02:18] Ajedi32 commented on #1028
@ashes999 That entire code block is in backticks; it's plain JavaScript. Opal is adding enumerable methods to the Array prototype, so all JavaScript Arrays are affected; not just the ones returned by `to_n`.

[2015-07-25 03:09] vais commented on #1026
:+1:

[2015-07-25 03:12] vais commented on #689
@ashes999 could you help by sending a PR please?

[2015-07-25 07:33] elia commented on #1028
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty

Object.prototype.defineProperty seems the only way to mark a property as non-enumerable. But we should talk about browser support and performance before going down this route.

[2015-07-25 11:00] ashes999 commented on #689
@vais opened a PR [here](https://github.com/opal/opalrb.org/pull/29)

[2015-07-25 11:39] vais commented on #689
Thanks @ashes999 :+1:
@elia this one's for you to merge :stuck_out_tongue_winking_eye:

[2015-07-25 17:42] Ajedi32 commented on #1028
Curse you Internet Explorer! :dizzy_face:

I wonder if we really need to support the older IE versions though at this point... some of the recent statistics I'm seeing put IE6/7/8 at only 3.33% of the market, and that number can only go down from here. Idk though.

[2015-07-25 20:50] ylluminate commented on #1028
Frankly I believe that with Windows 10 release, we're going to see a marked decline of this figure even further.  A lot of folks have already decided to move from Windows 7 and 8 to 10 and then of course it is going to be a pusher to get people to finally bump off of XP and Vista as well.  I am no longer convinced that it is worth supporting older IE versions and frankly have even started using th

[2015-07-29 04:49] bbatsov opened #1031 "Sourcemaps don't work in the example Sinatra app"
When I added a bit of exception producing code to the example Sinatra app, all I got was a JS stacktrace. The sourcemaps worked just fine with the Rack app, so I'm gussing this is just a `config.ru` issue or something similar.

[2015-07-31 18:42] Quincunx271 opened #1033 "Backticks don't allow string substitution"
In Ruby, this is allowed:

    cmd = 'ruby -e "puts 1"'
    p `#{cmd}`

In Opal, however, this does not work (I'm working with jQuery):

    methodName = "innerWidth"
    p `$(window).#{methodName}()`

Instead of compiling it to what I'd expect:

    methodName = "innerWidth"
    return self.$p(eval("$(window)." + methodName + "()"))

This compiles to:

    methodName = "innerWidth";
    return se

[2015-07-31 20:35] Ajedi32 commented on #1033
Given that methodName can't necessarily be known at compile time, what *should* it compile to? Were you expecting a call to [`eval`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval)? I guess I can see how that would make sense, but that's not how Opal does things.

Interpolation in backticks in Opal doesn't just work by doing string interpolation. Instead, it

[2015-07-31 20:37] Ajedi32 commented on #1033
IMO, the documentation should be amended to make this difference more explicit. The current section on [inline JavaScript](http://opalrb.org/docs/compiled_ruby/#inline-javascript) does include an example of interpolation done this way, but it doesn't explicitly spell out this difference in how interpolation of x-strings are handled.

[2015-07-31 20:42] elia commented on #1033
@Quincunx271 the desired behaviour can still be obtained via JavaScript `eval`:

[code]

@Ajedi32 agree, any wording you can suggest to improve the docs?
(of course feel free to send a PR! :stuck_out_tongue_winking_eye:)

[2015-07-31 20:42] #1033 closed

[2015-07-31 20:44] elia commented on #1033
_@Quincunx271 I closed the issue, but let me know if you feel this needs further discussion and I'll reopen_

[2015-07-31 22:10] Quincunx271 opened #1034 "Enumerator with_index has problems with arrays"
I've discovered that this results in an array of `undefined`s:

    a = [5, 4, 3, 2, 1]
    a.map!.with_index { |element, index| [element, index] }

`map` instead of `map!` is slightly different; it outputs `[5, 4, 3, 2, 1]`. I don't know why this is so, but when I monkey patched `Enumerator` like so, it worked:

    class Enumerator
       def with_index(offset=0)
          return enum_for(:with_

[2015-08-01 14:03] vais commented on #1034
Good catch, thanks!

[2015-08-01 14:10] #1034 closed

[2015-08-01 14:16] elia commented on #863
Fixed by e8a33b7a0a432661504cdf132065d9fd39338dc6

[2015-08-01 14:16] #863 closed

[2015-08-01 14:18] elia commented on #1013
@vais should this be closed as fixed by #1035?

[2015-08-01 14:42] vais commented on #1013
@elia yep:
[code]
:joy_cat:

[2015-08-01 14:42] #1013 closed

[2015-08-02 12:00] djboardman opened #1041 "Calling Time#usec via Opal returns 0 and throws "Microseconds are not supported""
I get a message saying `Microseconds are not supported` when I call `Time#usec` either in Chrome or in the following example on the "Try" page on opalrb.org (both on 0.8.0.beta1):

http://opalrb.org/try/?code:t%20%3D%20Time.now%0Aputs%20t.usec

The input on the try page is:

    t = Time.now
    puts t.usec

And the output is:

    Microseconds are not supported
    0

It looks like `Time#usec` is

[2015-08-02 13:18] vais commented on #1041
[code]
https://github.com/opal/opal/blob/master/opal/corelib/time.rb#L376
:beers:

[2015-08-02 13:18] #1041 closed

[2015-08-04 01:44] shevegen opened #1043 "Proposal: add an example .html file to test/ directory or somewhere else"
The readme at the main page says:

"Just open this page in a browser and check the JavaScript console."

However, some users - like me - may be a bit naive and struggle to get this to work.

Would it be possible to put those few lines in the .html file, into a standalone .html file too?

It could link to the remote .js, in the event that you do not want to distribute the current opal.js code with

[2015-08-04 01:46] shevegen commented on #989
Does opal use a style guide on its own by the way?

Perhaps contributors are not aware of it, hence why different styles are used. I also have my own style in ruby but I am always fine adjusting to the project's preferences.

[2015-08-04 02:08] balmoral opened #1044 "Proposal: add an option in Native ##alias_native to handle arrays of given class"
Suggest additional option for the alias_native helper which will convert a native array to a ruby Array of a given class, e.g.

[code]

Something like this:
[code]

[2015-08-05 03:27] jgaskins opened #1045 "Class#new cannot be optimized by v8"
I just noticed that, in Chrome/v8, instantiation of Ruby objects is unable to be optimized by the VM because it uses the `arguments` array (via `*args` in Opal): https://github.com/opal/opal/blob/247d921f43e2fcdec47405c1c2a38472fc89ca71/opal/corelib/class.rb#L42

Safari doesn't seem to have any trouble with it (it renders Clearwater apps 3x as fast as Chrome when I don't use render caching), but i

[2015-08-05 04:43] jgaskins commented on #1045
I did some more profiling and benchmarking and it looks like it's the reassignment of the splat variable that's causing the problem.

[code]

The two methods in this class compile to nearly identical JS. The only real difference is that `args` in `bar` is reassigned from the method signature. You can see I removed `args` from `baz`'s method signature and declared it as a variable within the functi

[2015-08-05 08:01] meh commented on #1045
Can you benchmark something like `def foo(a, b, *args)` with and without reassignment?

Maybe those can be optimized a little too.

[2015-08-06 06:28] elia commented on #1044
Personally I'm not sure alias_native is the right method for this feature, but can't think of anything else either.

cc @meh

[2015-08-06 06:49] balmoral commented on #1044
I’ve patched it into my project and it works well and seems natural in the code:
[code]
Could be a very common requirement. Maybe keyword `:as_array_of` would make it read better:
[code]
BTW Opal and it's partner Volt are truly liberating. Wrapping the Highcharts js library (opal-highcharts) hardly took any time. Now working on fully reactive implementation in Volt (volt-highcharts). Fast and fun

[2015-08-06 11:03] meh commented on #1044
I don't think this should go into `Native`.

As reference of how my stance is, check [this](https://github.com/opal/opal-browser/blob/master/opal/browser/navigator.rb) from `opal-browser`.

[2015-08-06 15:28] elia commented on #1044
Always great to hear! :smile_cat:

I'm going to close the issue as I feel the same, keeping `Native` a bit lower level.

That sai I think it's useful anyway and could be a great addition to opal-activesupport for example. The method could change to something like `expose_native` or just `expose`.

[2015-08-06 15:28] #1044 closed

[2015-08-06 16:40] meh commented on #1044
I was considering this a little more, and it wouldn't be out of scope if it used `Native::Array`, but the end result doesn't look that good.

Current:
[code]

Would be:
[code]

Opinions?

[2015-08-08 09:55] #932 closed

[2015-08-08 15:39] jgaskins commented on #1045
I've put the benchmark code into a [gist](https://gist.github.com/jgaskins/42a7f95d2cab130ac0fc) and made a few tweaks to it. Feel free to provide feedback if my hand-compiled JS isn't right. The results are a lot closer now, which I think might be due to the fact that I'm yielding blocks containing the code to benchmark rather than just having it inline.

Here are the results in Safari (11.2% bet

[2015-08-08 16:30] elia commented on #1045
Here's some background about the V8 error message: https://code.google.com/p/v8/issues/detail?id=3037

[2015-08-08 18:45] Papierkorb opened #1049 "Inline if/unless with function call breaks"
Hello. Running the following snippet on opalrb.org/try throws a Javascript error (See below):

[code]

But when I move the unless condition into a variable and check just that variable, it works:

[code]

The above snippet should output two lines like `<Element ..>`

---

JavaScript error when trying the first snippet looks like this:

[code]

The interesting pieces from the generated JavaScript c

[2015-08-09 22:51] #934 closed

[2015-08-09 23:04] meh commented on #1045
This should be fixed now.

[2015-08-09 23:04] #1045 closed

[2015-08-10 00:46] vais commented on #934
Thank you, @meh!

[2015-08-11 07:52] bwl21 opened #1053 "class varible named @constructor is not converted properly"
[code]

compiles to in http://opalrb.org/try/#
[code]

but as `@constructor` is a variable already coming from javascript. As @elia told me, it should compile to `constructor$`

[2015-08-11 10:55] yxhuvud opened #1054 "Inconsistent behavior with anonymous classes."
code:

[code]
opal output:

mri output:
`hi`

[2015-08-11 11:37] vais commented on #1053
Duplicate of https://github.com/opal/opal/issues/993

[2015-08-11 13:09] #1053 closed

[2015-08-11 14:30] #993 closed

[2015-08-11 16:12] Thermatix opened #1055 "opalrb alongside sprockets asset pipeline"
I can't find out how to integrate opalrb with a sprockets asset-pipeline, how do you do this?

I don't want to have two separate sprockets processes, one for opalrb and one for assets, unless of course this is the only way you can have it?

[2015-08-11 16:14] elia commented on #1055
Here's a complete example from opal-rails which does just that reusing the sprockets environment of rails:

https://github.com/opal/opal-rails/blob/master/lib/opal/rails/engine.rb#L28-L67

[2015-08-11 23:54] jgaskins opened #1056 "Assigning anonymous class to a constant doesn't name the class"
MRI:

[code]

Opal ([try link](http://opalrb.org/try/?code:Foo%20%3D%20Class.new%0Ap%20Foo.new)): `#<#<Class:0x4c6>:0x4c8>`

I am reasonably sure MRI has a special parser rule for assigning constants. Because of that, I don't know how difficult this would be to implement. I'm sure it's possible to do in Opal, but I'm kind of afraid of how deep it would have to be.

I noticed this because `Foo = St

[2015-08-12 01:37] vais commented on #1054
@elia is this related to https://github.com/opal/opal/issues/1056 and maybe also fixed by https://github.com/kachick/opal/commit/e818cc8b3784621ae560c43f259a4e9f74ffa986?

[2015-08-12 08:27] #1054 closed

[2015-08-12 08:27] #1056 closed

[2015-08-12 08:29] elia commented on #1056
@kachick I used a slightly different approach in d9dee02 (vs e818cc8), please let me know if you see any potential problem with it

[2015-08-12 08:45] Thermatix commented on #1055
Thank you!

[2015-08-12 09:31] elia commented on #1055
:+1:

[2015-08-12 09:48] Thermatix commented on #1055
umm right sorry to open it up again, but this is very, rails specific, I'm trying to do this for sinatra.

[2015-08-12 10:24] kachick commented on #1056
@elia :beers:

[2015-08-12 10:25] elia commented on #1055
no prob, if you're using sinatra then you probably want to check out the sinatra example in the repo and let me know if that works for you:

https://github.com/opal/opal/blob/master/examples/sinatra/config.ru

[2015-08-12 10:35] Thermatix commented on #1055
I've looked at that, but seeing that Opal uses sprockets, I decided to move from asset-pack to sprockets and integrate opal into it so only one sprockets instance is running.

Looking at that code example however, it looks like opal detects and integrates into sprockets automatically, so you only end up with one sprockets instance, is this correct?

[2015-08-12 11:09] elia commented on #1055
There's a prepackaged rack app (Opal::Server) that includes a sprockets environment but you can also do things manually (like in the rails example).

Alas, mixing rack and sprockets and custom stuff is not straightforward. But the task is considerably easier if you don't care about sourcemaps. If that's the case you should be able to just add `Opal.paths.each {|p| sprockets.append_path p}` and spr

[2015-08-12 11:13] Thermatix commented on #1055
ok, thanks for clarity, I will probably add my solution this issue thread but thank you.

[2015-08-12 11:14] elia commented on #1055
Yes definitely share your solution and feel free to ask if you're stuck on something

[2015-08-12 11:28] Thermatix commented on #1055
Ok, how do I deal with setting up opals config? like it is here? https://github.com/opal/opal-rails/blob/master/lib/opal/rails/engine.rb#L47-L51 where do the settings come from and where are they normally set up from?

[2015-08-12 15:12] elia commented on #1055
they come from rails standard config, the current way to set global config for opal is through Opal::Config

https://github.com/opal/opal/blob/master/lib/opal/config.rb#L7-L13

eg:

[code]

PS. you see `Processor` there because it is outdated, should be `Config`

[2015-08-12 16:59] Thermatix commented on #1055
How do I tell sprockets I'm using opal?

Ok, so now I'm doing config like this:

[code]

[2015-08-12 20:26] elia commented on #1055
@Thermatix requiring opal should be sufficient (it requires opal/processor internally: https://github.com/opal/opal/blob/d9dee023a057de5b4289825826dad8037ca08508/lib/opal/sprockets/processor.rb#L166-L167)

[2015-08-12 21:05] wied03 commented on #858
This appears to be fixed with ff297f5aeddec8f44281dd7c039d2404bf29516a and https://github.com/opal/opal/commit/121eff369b4de925e8a86f50927dd1635ca33b4b. Used the more accurate example below:

Test code:
[code]

MRI 2.2.2:
[code]

Opal 0.8:
[code]

Opal 0.9/master (d9dee023a057de5b4289825826dad8037ca08508)
[code]

[2015-08-13 09:25] Thermatix commented on #1055
I see, Ok, well I think I got it working, sort of, the browser returns 200 for the resources. the mime types is set correctly... only nothing is returned and I don't know why and i'm still fairly new to sprockets so I was wondering if you could tell me what I'm doing wrong?

Here's a [gist](https://gist.github.com/Thermatix/6c7d579a4962cc905d72) with what I've got so far.

[2015-08-13 19:44] #858 closed

[2015-08-13 19:46] meh commented on #858
@wied03 can you elaborate on `3.` and `4.`?

Small testcase would help.

[2015-08-13 20:01] meh commented on #858
For the record

[code]

Is working properly, so I think that rules out `3.` as fixed as well, `4.` remains.

[2015-08-14 16:02] #1055 closed

[2015-08-14 16:13] Thermatix opened #1058 "code compiled from opal doesn't seem to do anything"
So, I have code and opal is compiling it, but it doesn't seem to be doing anything

For example I'd expect:
[code]
To compile to (or something close to):
[code]
and output into the console `Hello World!`, instead it compiles to:
[code]

And doesn't do anything.

Whats going on?

[2015-08-14 23:08] elia commented on #1058
You need to bootstrap the app main module from JavaScript with `Opal.load('application')`.
Alternatively you can use `Opal::Processor.load_asset_code(sprockets_env, name)` from Ruby which will  return the proper JS bootstrap code and works nicely with non-opal libs files and stubs.

An example of the produced code would be:

[code]

[2015-08-14 23:11] elia commented on #1058
link: http://www.rubydoc.info/gems/opal/Opal%2FProcessor.load_asset_code

_really need to add some comments :confounded:_

[2015-08-15 09:47] Thermatix commented on #1058
So including the opal library isn't enough? huh, ok, where would I put `Opal::Processor.load_asset_code(sprockets_env, name)`? is it something that I put in my opal ruby files or after I load and set up sprockets or in a route?

[2015-08-15 22:16] RoxasShadow opened #1062 "Can't define methods when a mandatory parameter is put just after an optional one"
`def sample(a = nil, b); end` is given to both the rubies.
- Opal 0.8.0.beta1

- rbx-2.5.7 (but also mri-2.2.0)

[2015-08-17 07:59] Thermatix commented on #1058
Hmmm Ok, but how do I get the sprockets environment into it? aren't the files compiled by opal in a different environment to the main app?

[2015-08-17 08:50] #1058 closed

[2015-08-17 20:15] darkslategrey opened #1065 "Opal with polymer-starter-kit : 'too much recursion' error"
polymer-starter-kit-1.0.3
current opalrb cdn version

When add opalrb to the polymer starter, the app kit cannot run because of this error :
[code]

[2015-08-17 20:27] meh commented on #1065
That's not very helpful, is it the complete error? Can you get a stacktrace or give us line 2901?

[2015-08-17 21:12] darkslategrey commented on #1065
Here is the stacktrace from bugzilla:

[code]

And here the source code where the too much recursion occured

[code]

[2015-08-17 21:27] elia commented on #1065
@darkslategrey the problem is line 2901, using `for in` with arrays is bad practice in js for a number of reasons, it should be fixed in polymer-starter-kit

Here's the full explanation: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...in#Array_iteration_and_for...in

[2015-08-17 21:27] #1065 closed

[2015-08-18 09:24] Thermatix opened #1067 "wrapper function for templated backtick string fails fails to work"
simply put this works

[code]

This doesn't

[code]
With or without a return in the `get_by_id ` function.

Either I'm missing something or this is a bug?

[2015-08-18 13:33] meh commented on #1067
`document.getElementById('#{id}')` is going to get compiled into `document.getElementById('id')`, you want to pass the id without the quotes.

[2015-08-18 13:33] #1067 closed

[2015-08-18 14:45] Ajedi32 commented on #1067
This is pretty much a duplicate of #1033. I guess this is a pretty common misunderstanding.

[2015-08-18 15:15] #313 closed

[2015-08-19 02:51] catmando opened #1068 "if to_s does not return a string, things blow up"
[code]

dies with

`TypeError: Cannot convert object to primitive value`

[2015-08-19 19:39] meh commented on #1049
Ruby methods should never return non-Ruby values.

[2015-08-19 19:39] #1049 closed

[2015-08-19 19:40] meh commented on #1049
For the sake of discussion #867 would *fix* this, but I'm strongly against it because things would break again as soon as you try to call a method on any bubbled up `undefined` or `null` instance and it would be even harder to debug.

[2015-08-19 19:42] #1028 closed

[2015-08-19 19:42] meh commented on #1028
Closing this, discussion on whether to drop some ancient browser versions should happen in a separate issue.

[2015-08-19 19:47] Papierkorb commented on #1049
Isn't this a bug with opal-jquery then, in that a method it provides may yield weird results?

[2015-08-19 19:49] meh commented on #898
This is a definition order issue, the `Time` in the `alias_native` call is not lazily loaded, at that time (pun) the local `Time` is not defined yet, so it accesses the global one.

[2015-08-19 19:49] #898 closed

[2015-08-19 20:27] meh commented on #866
Fixed on master.

[2015-08-19 20:27] #866 closed

[2015-08-19 20:28] meh commented on #1049
@Papierkorb very likely, yes, open an issue on there :panda_face:

[2015-08-20 01:39] #996 closed

[2015-08-20 16:14] Papierkorb opened #1069 "Return value of implicit hash ||= assignment with missing parentheses discards code in JS"
Hello,

Opal generates bad JavaScript code for the following snippet:

[code]

The snippet implements a simple cache with a Hash as store. Line 4 returns the value for the key 'a' if one is set, else it sets the value to whatever the part after `||=` evaluates to. In all cases, the method is expected to return `"foo":String`

The issue is with line 4: `@cache['a'] ||= expensive 'something'`

Opal

[2015-08-20 16:27] meh opened #1070 "Uncatched early return in Parslet"
[code]

[2015-08-20 20:02] jgaskins opened #1071 "Increasing default Opal runtime size"
I've noticed the JS payload for my Clearwater apps getting larger with each Opal upgrade, so I thought I'd have a look at the minified+gzipped size of each Opal release back to 0.7.2:

- 0.7.2: 37KB
- 0.8.0: 43KB
- 0.9.0.dev: 55KB

These only include the Opal runtime, compiled and minified via the Rails asset pipeline — the only line in my `app/assets/application.rb` file was `require 'opal'`. The

[2015-08-20 21:04] jaredcwhite commented on #1071
I appreciate you pointing this issue out -- I just gotta say WOW, that is truly crazy that Opal + Clearwater minified & gzipped is still mostly on par with Ember.js. Either that proves Opal is awesome, or rather it proves the top JS frameworks out there have to implement so much stuff on top of JS to make things usable, it might as well be its own programming language. :)

[2015-08-20 21:26] elia commented on #1071
💂🏾✋🏿 Imma let you finish, but this PR has the best timing ever https://github.com/opal/opal/pull/1066

[2015-08-20 21:35] jgaskins commented on #1071
@jaredcwhite Pretty much. Underscore.js is basically just Ruby's `Enumerable` for JS, which makes sense because Jeremy Ashkenas (author of Underscore as well as CoffeeScript and Backbone) was a Ruby developer before he got into JS.

@elia Nice! Something that makes the timing even more perfect is that I actually had the new issue page open since right about when that PR was opened, I just kept for

[2015-08-20 21:35] #1071 closed

[2015-08-20 21:57] elia commented on #1071
Ha! Remember to share the numbers if you check them. Also PRs adding docs for this would really be appreciated 😁

[2015-08-20 22:15] jgaskins commented on #1071
This is the minimum Opal runtime required to run the Clearwater app I'm experimenting with (a Twitter client):

[code]

Comes out to 47KB for the runtime — a savings of 8KB (about 15%) from the full thing. I haven't gotten all the way through the the `opal/base` version yet. I agree with [@meh's comment](https://github.com/opal/opal/pull/1066#issuecomment-131998069) that most people won't care eno

[2015-08-20 23:21] meh commented on #1071
@jgaskins yeah, the situation for cherry-picking is still a little messy for now, in the next week or so I'll try to fix some related stuff, for instance `Regexp` is needed in the base because it's used in `#const_get` because we're lazy.

[2015-08-20 23:22] meh commented on #1071
Also I'm unsure whether `unsupported` should go in the base or not, it's not needed per-se, but it provides stubs/meaningful errors for things that are actually unsupported by Opal, or almost dummy supported (like `private` and friends).

[2015-08-20 23:23] meh commented on #1071
Oh, also `corelib/number` shouldn't be required anymore after I push this, I just forgot to update it after I merged `numeric-redux`.

[2015-08-21 00:07] meh commented on #1071
@jgaskins ok, you should be able to reduce the requires to:

[code]

[2015-08-21 03:03] jgaskins commented on #1071
Nice!

[2015-08-21 15:13] orionz commented on #230
Ok.  Trying to get this working...

In the browser off of the CDN master I need to

    Opal.modules["opal-parser"](Opal)
    Opal.eval("[1,2,3]")

In node I need to

    require("opal")    // why oh why isn't this -- var opal = require('opal')
    Opal.module("opal-parser")
    Opal.eval("[1,2,3]")

Seems like in both cases you would just want

    Opal.eval("[1,2,3]")

Also there is zero documen

[2015-08-24 20:32] Qqwy opened #1073 "require (and require_tree etc.) don't work with non .rb files"
I am trying to use opal-haml. (https://github.com/opal/opal-haml)
This library uses Opal to compile HAML to HTML.
The steps on the GitHub readme are very straightforward. However, requiring the `.haml` files as they do there is no longer possible in Opal 0.7.2:

`require_tree 'app/views'`
has the following result
(Note that app/views contains one file, called `item.haml`)

    A file required by "

[2015-08-24 20:38] Qqwy commented on #1073
I believe that this regex might be the reason the files are found.

https://github.com/opal/opal/blob/master/opal/corelib/runtime.js#L1686

Maybe this needs to strip away all extensions, except only .js, .rb and .opal?

[2015-08-25 03:11] wied03 commented on #821
@vais - Same error happens in rspec's spec code:
[code]

[2015-08-25 08:54] zetachang opened #1074 "Lexing problem"
Stuff like this could not be correctly tokenized.

[code]
**[Try It](http://opalrb.org/try/?code:10%0Ab%20%3D%20%602.2204460492503130808472633361816E-16%60%0A)**

After investigation, problem is https://github.com/opal/opal/blob/master/lib/opal/parser/lexer.rb#L215, the "^" regexp provided by JS implemented "strscan" will only be applied to the first alternative, thus the later one will be used to

[2015-08-25 09:02] zetachang opened #1075 "stdlib/source_map/vlq is broken"
[code]
It should output "A", but instead we got empty string.

After investigation, the problem is due to `begin; end while` block around https://github.com/opal/opal/blob/master/stdlib/source_map/vlq.rb#L31-L36.

According to https://github.com/opal/opal/issues/575, Opal implemented differently compared to MRI.

A solution may be using a `loop do; break; end` to replace it.

Some context: I am wo

[2015-08-25 14:42] elia commented on #1075
Apparently I fixed this upstream but forgot to apply in our copy

https://github.com/maccman/sourcemap/issues/10

[2015-08-26 03:54] zetachang commented on #1074
Forget to add an example demonstrating the failing case of StringScanner.

[code]

MRI output nil, while Opal output `2E-16`

[2015-08-26 05:13] zetachang opened #1076 "'?=' failed to parse"
Below script failed to parse.  #1074 might be related. And its around line https://github.com/opal/opal/blob/master/lib/opal/parser/lexer.rb#L1155

[code]
I am using v0.8.0.

How about change StringScanner implementation to,

[code]

which will force to match from beginning even the provided pattern use alternation.

[2015-08-26 07:15] wied03 opened #1077 "Checking if class descendands from another using the less than operator returns true for the descendant class"
Code:

[code]
MRI 2.2.2 output:
[code]

Opal 0.8/0.9 output:
[code]

[2015-08-26 17:00] Papierkorb commented on #1073
@Qqwy, try using Opal 0.8 - That fixed it for me:
[code]

[2015-08-26 17:29] #1077 closed

[2015-08-26 19:47] Qqwy commented on #1073
Thank you very much! Indeed, the problem is fixed in version 0.8.